<div class="header">
  <div class="title">
    <div class="close">
      <ion-icon (click)="close()" name="close-outline"></ion-icon>
    </div>
    <div class="text">
      Cooking
    </div>
  </div>
  <div class="buttons">
    <button class="orange-button" [disabled]="ui.disableSave" (click)="save()">Save</button>
  </div>
</div>

<ion-content>
  <div class="app">
    <div class="block s1">
      <div class="title">
        <div class="text">
          Step 1
        </div>
        <div class="info">
          Recipee
        </div>
      </div>
      <div class="content">
        <textarea [(ngModel)]="recipee" placeholder="Recipee" cols="40" rows="10"></textarea>
      </div>
    </div>
    <div class="block s2">
      <div class="title">
        <div class="text">Step 2</div>
        <div class="info">
          Ingredients to use
        </div>
      </div>
      <div class="content">
        <div class="chosen" *ngIf="selected && selected.length > 0">
          <div class="subtitle">Selected:</div>
          <div class="list">
            <div class="one" *ngFor="let i of selected">
              <div class="name">
                {{ i.name }}
              </div>
              <div class="amount">
                {{ i.amount }} grams
              </div>
              <div class="edit">
                <button class="orange-button" (click)="edit(i)">Edit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="list">
          <div class="subtitle">
            <ion-searchbar (ionInput)="find($event)" mode="ios" showClearButton="always"></ion-searchbar>
          </div>
          <div class="self" *ngIf="components && components.length > 0">
            <app-ingredient (Emitter)="onIngredientEmit($event)" *ngFor="let i of components" [c]="i"></app-ingredient>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
