<div class="header">
  <div class="title">
    <div class="close">
      <button id="close-button" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>
    <div class="text">
      Cooking
    </div>
  </div>
  <div class="buttons">
    <!-- <button class="orange-button" [disabled]="ui.disableSave" (click)="save()">Save</button> -->
  </div>
</div>

<ion-content>
  <div class="app">
    <div class="block s1">
      <div class="title">
        <div class="text">
          Step 1
        </div>
        <div class="info">
          Recipee
        </div>
      </div>
      <div class="content">
        <textarea [value]="recipee" (input)="onInput($event)" placeholder="Recipee" cols="40" rows="10"></textarea>
        <button class="orange-button" (click)="save()" [disabled]="ui.disableSaveRecipee">Save</button>
      </div>
    </div>
    <div class="block s2">
      <div class="title">
        <div class="text">Step 2</div>
        <div class="info">
          Ingredients to use
        </div>
      </div>
      <div class="content">
        <div class="chosen">
          <div class="subtitle">
            <h3>Selected:</h3>
          </div>
          <div class="list">
            <div class="one" *ngFor="let i of selected">
              <div class="name">
                <a routerLink="/restaurant/{{service.restaurantId}}/dishes/ingredients">{{ i.name }}</a>
              </div>
              <div class="amount">
                <p><span [title]="i.amount">{{ i.amount }}</span> grams</p>
              </div>
              <div class="edit">
                <button class="orange-button" (click)="edit(i)"><ion-icon name="pencil"></ion-icon></button>
              </div>
            </div>
            <div class="add">
              <button class="body" (click)="add()">
                <ion-icon name="add"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
