<ion-header>
  <div class="nav">
    <div class="exit">
      <button id="exit" (click)="exit()"><ion-icon name="close-outline"></ion-icon></button>
    </div>
    <div class="name">
      <p>Cooking {{name}}</p>
    </div>
    <div class="save">
      <div class="gap"></div>
      <button id="save" (click)="save()">Save</button>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="app">
    <div class="msg">
      {{ ui.title }}
    </div>
    <div class="block">
      <div class="title">
        <div class="step">
          Step 1
        </div>
        <div class="info">
          What components to use?
        </div>
      </div>
      <div class="body">
        <div class="components">
          <div class="search">
            <ion-searchbar (keydown.enter)="find()" [(ngModel)]="searchText" class="searchbar" mode="ios"></ion-searchbar>
            <button id="find" (click)="find()"><ion-icon name="search-outline"></ion-icon></button>
          </div>
          <div class="chosen" *ngIf="chosen.length > 0">
            <div class="sub-title">
              Chosen
            </div>
            <div *ngFor="let i of chosen" class="component">
              <div class="name">
                {{ i.name }}
              </div>
              <div class="value">
                {{ i.amount }} grams
              </div>
              <div class="remove">
                <button (click)="removeChosen(i._id)" class="remove-btn"> <ion-icon name="trash-outline"></ion-icon> Remove</button>
              </div>
            </div>
          </div>
          <div class="found" *ngIf="found.length > 0">
            <div class="sub-title">
              Found
            </div>
            <app-component *ngFor="let i of found" [component]="i" (Emitter)="onComponentEmited($event)"></app-component>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="title">
        <div class="step">
          Step 2
        </div>
        <div class="info">
          How to cook?
        </div>
      </div>
      <div class="body recipee">
        <ion-item class="border">
          <ion-textarea [(ngModel)]="recipee" rows="10" autoGrow placeholder="Recipee"></ion-textarea>
        </ion-item>
      </div>
    </div>
    <div class="block">
      <div class="title">
        <div class="step">
          Step 3 <p>optional</p>
        </div>
        <div class="info">
          Choose who cooks
        </div>
      </div>
      <div class="body workers-block">
        <div class="small">
          <small class="small-gray">The person you choose will receive notification when someone orders {{ name }}, but anyone can cook it anyway</small>
        </div>
        <div class="workers">
          <div *ngFor="let i of workers" class="worker">
            <div class="avatar">
              <img [src]="i.avatar">
            </div>
            <div class="name">
              {{ i.name }}
            </div>
            <div class="add">
              <button (click)="choose(i._id)" class="square-success">
                <ion-icon name="add-outline" *ngIf="!i.choosen"></ion-icon>
                <ion-icon name="checkmark-outline" *ngIf="i.choosen"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="block">
      <div class="title">
        <div class="step">
          Step 3 <p>optional</p>
        </div>
        <div class="info">
          Who cooks?
        </div>
      </div>
      <div class="body cooks" *ngIf="workers && workers.length > 0">
        <div *ngFor="let i of workers" class="worker">
          <div class="avatar">
            {{ i.avatar }}
          </div>
          <div class="name">
            {{ i.name }}
          </div>
          <div class="gap"></div>
          <div class="add">
            <button class="add-btn"><ion-icon name="add-outline"></ion-icon></button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</ion-content>