.header {
    padding: 0 412px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    height: 52px;
    border-bottom: 1px solid var(--gray);
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
            font-size: 20px;
            color: var(--title-color);
            font-weight: 550;
            margin-left: 12px;
        }
        .close {
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .orange-button {
            width: 168px;
        }
        .white-button {
            width: 82px;
        }
    }
}

.app {
    padding: 32px 412px;
    margin-bottom: 200px;
    .block {
        margin-top: 32px;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--border-color);
            .text {
                font-size: 22px;
                font-weight: 550;
                color: var(--text-color);
                margin: 12px;
            }
            .info {
                font-size: 18px;
                padding-right: 42px;
                color: var(--title-color);
            }
        }
    }
    .s1 {
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 32px;
            textarea {
                resize: none;
                padding: 8px;
                line-height: 24px;
                border-radius: 12px;
            }
        }
    }
    .s2 {
        .content {
            .chosen {
                display: grid;
                grid-template-columns: 10% 90%;
                .subtitle {
                    padding: 32px 0;
                    font-size: 18px;
                    margin: 24px 12px;
                }
                .list {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 24px;
                    .one {
                        height: 124px;
                        border: 2px solid var(--orange);
                        position: relative;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        .name {
                            font-size: 18px;
                            .amount {
                                margin-top: 8px;
                            }
                        }
                        button {
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            margin: 0;
                            border-top-left-radius: 0px;
                            border-top-right-radius: 0px;
                            border-bottom-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                    }
                }
            }
            .list {
                padding: 32px 0;
                .subtitle {
                    font-size: 18px;
                    margin: 24px 12px;
                    display: flex;
                    align-items: center;
                    .orange-button {
                        height: 38px;
                        width: 38px;
                    }
                    ion-searchbar {
                        width: 412px;
                    }
                }
            }
        }
    }
}