.app {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    height: 56px;
    border-bottom: 1px solid var(--border-color);
    .name {
        font-size: 18px;
        color: var(--title-color);
        padding-left: 12px;
        display: flex;
        align-items: center;
    }
    .amount,.buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .amount {
        .input {
            ion-item {
                width: 214px;
            }
        }
    }
}