<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>Invitations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app">
    <div *ngFor="let i of list" class="one">
      <div class="name">
        <p (click)="user(i.userId)">{{ i.user.name || i.user.username }}</p>
      </div>
      <div class="role">
        {{ i.role }}
      </div>
      <div class="date">
        {{ i.date }}
      </div>
      <div class="button">
        <button (click)="more($event, i._id)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</ion-content>
