<ion-content>
    <div class="app">
        <div class="scanner" *ngIf="ui.showScanner">
            <div class="vid">
                <video #video [hidden]="!ui.showScan"></video>
            </div>
            <div class="buttons" *ngIf="!ui.showScan">
                <button class="orange-button" (click)="startScan()">
                    <ion-icon name="refresh"></ion-icon>re-scan
                </button>
            </div>
        </div>


        <div *ngIf="ui.showOther" class="other">
            <div class="select">
                <div class="title">
                    Select restaurant
                </div>
                <div class="list">
                    <app-restaurant *ngFor="let i of restaurants" [restaurant]="i"></app-restaurant>
                </div>
            </div>
        </div>
    </div>
</ion-content>




<canvas #canvas hidden></canvas>