.app {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10vh;

    .box {
        width: 512px;
        background-color: white;
        border-radius: 8px;

        .header {
            display: flex;
            align-items: center;
            height: 32px;
            width: 100%;
            position: relative;
            
            #close-modal {
                width: 32px;
                height: 32px;
                color: var(--black);
                background: none;

                ion-icon {
                    font-size: 24px;
                }
            }
            .title {
                display: flex;
                align-items: center;
                margin-left: 12px;

                .text {
                    color: var(--black);
                    font-size: 18px;
                }
            }
            #clear {
                position: absolute;
                top: 0;
                right: 0;
                height: 32px;
                padding-right: 6px;
                font-size: 18px;
                background: none;
            }
        }

        .content {
            padding: 8px;

            .mode {
                select {
                    color: var(--black);
                    padding: 4px 8px;
                    border-radius: 6px;
                    outline: none;
                }
            }
            
            .amount1 {
                margin-top: 12px;
                
                input {
                    padding: 4px 6px;
                    outline: 0;
                    color: var(--black);
                    border-radius: 8px;
                    border: 1px solid var(--border-color);

                    &:focus {
                        border: 1px solid var(--gray);
                    }
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                
                .orange-button {
                    width: 100%;
                };
            }
        }
    };
}


@media screen and (max-width: 512px) {
    .app {
        .box {
            width: 100%;
            border-radius: 0;
        }
    }
}