<div class="app" [@showUp]>
    <div class="box">
        <div class="header">
            <button id="close-modal" (click)="leave.emit()">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="title">
                <span class="text title-font">
                    Filter by the amount of dishes
                </span>
            </div>
            <button (click)="leave.emit('clear')" id="clear">
                Clear filter
            </button>
        </div>
        <div class="content">
            <div class="mode">
                <select [(ngModel)]="mode">
                    <option value="gte">is more than or equal</option>
                    <option value="lte">is less than or equal</option>
                    <option value="eq">is equal</option>
                </select>
            </div>
            <div class="amount1">
                <input type="number" placeholder="Amount" [(ngModel)]="amount1">
            </div>
            <div class="buttons">
                <button class="orange-button" (click)="save()">Apply</button>
            </div>
        </div>
    </div>
</div>