<div class="app">
  <div class="top">
    <div class="user">
      <div class="avatar">
        <img [src]="avatar" alt="">
      </div>
      <div class="name">
        {{ data.user.username }}
      </div>
    </div>
    <div class="date">
      {{ data.date }}
    </div>
    <div class="status {{ data.color }}">
      {{ data.status }}
    </div>
  </div>
  <div class="dishes">
    <div (click)="goDish(i._id)" *ngFor="let i of data.dishes" class="dish">
      <div class="name">
        {{ i.name }}
      </div>
      <div class="amount">
        {{ i.amount }}
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="button">
      <button class="purple-button">More</button>
    </div>
    <div class="total">
      Total: {{ data.price }}
    </div>
  </div>
</div>