.app {
    width: 412px;
    border-radius: 8px;
    border: 2px solid var(--gray);
    padding: 6px;
    position: relative;
    min-height: 192px;
    transition: all .4s;
    &:hover {
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
    .top {
        height: 32px;
        display: grid;
        grid-template-columns: 50% 20% 30%;
        .user {
            display: flex;
            align-items: center;
            .avatar {
                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 100%;
                }
            }
            .name {
                margin-left: 6px;
            }
        }
        .date {
            display: flex;
            align-items: center;
        }
        .status {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 550;
            &.green {
                color: var(--green);
            }
            &.orange {
                color: var(--orange);
            }
            &.red {
                color: var(--red);
            }
            &.purple {
                color: var(--purple);
            }
        }
    }
    .dishes {
        margin-top: 12px;
        width: 100%;
        .dish {
            height: 28px;
            display: grid;
            grid-template-columns: 70% 30%;
            border-top: 1px solid var(--gray);
            .name,.amount {
                display: flex;
                align-items: center;
            }
            .name {
                padding-left: 12px;
                cursor: pointer;
            }
            .amount {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &:last-of-type {
                border-bottom: 1px solid var(--gray);
            }
        }
    }
    .bottom {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        .total {
            font-size: 18px;
            color: var(--green);
        }
    }
}