<div class="app" [@slideInOut] (click)="close()">
    <div class="box">
        <div class="header">
            <button (click)="close()" class="close">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="title">
                {{ order.dishesQuantity }} dishes
            </div>
            <div class="icon">
                <ion-icon slot="end" size="large" *ngIf="order.type == 'takeout'" name="bag-outline"></ion-icon>
                <ion-icon slot="end" size="large" *ngIf="order.type == 'dinein'" name="restaurant-outline">
                </ion-icon>
            </div>
        </div>
        <div class="content" (click)="$event.stopPropagation()">
            <div class="place" *ngIf="ui.showPlace">
                <div class="box" *ngIf="order.types == 'both'">
                    <button (click)="place('dinein')" class="option" [class.a]="order.type == 'dinein'">
                        Dine-in
                    </button>
                    <button (click)="place('takeout')" class="option"
                        [class.a]="order.type == 'takeout'">
                        Take away
                    </button>
                </div>
                <div *ngIf="order.types == 'dinein'" class="dine-in">
                    <span class="text title-font">
                        Dine-in
                    </span>
                </div>
                <div *ngIf="order.types == 'takeout'" class="takeout">
                    <span class="text title-font">
                        Take away
                    </span>
                </div>
                <div *ngIf="order.types == 'none'" class="none">
                    <span class="text none">
                        Your order
                    </span>
                </div>
            </div>
            <div class="info" *ngIf="ui.showSelectTable">
                <div class="content" *ngIf="order.id">
                    <div class="title">
                        <span class="text">
                            Table #{{order.id}}
                        </span>
                    </div>
                    <div class="button">
                        <button (click)="table()" class="orange-button">Change<ion-icon name="qr-code-outline">
                            </ion-icon></button>
                    </div>
                </div>
                <div class="scan-qr" [class.red]="ui.redTable" *ngIf="!order.id && order.types == 'both'">
                    <button (click)="table()" class="orange-button table">
                        Select table
                    </button>
                    <div class="or">or</div>
                    <button (click)="place('takeout')" class="orange-button">
                        Take away
                    </button>
                </div>
                <div class="scan-qr-only" [class.red]="ui.redTable" *ngIf="!order.id && order.types == 'dinein'">
                    <button (click)="table()" class="orange-button table">
                        Select table
                    </button>
                </div>
            </div>
            <div class="dishes" *ngIf="ui.showDishes">
                <div class="list" *ngIf="order.dishes.length > 0">
                    <div *ngFor="let i of order.dishes" (click)="seeAllDishes(i._id)" class="dish">
                        <div class="name">
                            {{ i.name }}
                        </div>
                        <div class="price">
                            <span class="amount">
                                ${{ i.price / 100 }}
                            </span>
                            <span>
                                x
                            </span>
                            <span class="quantity">
                                {{ i.quantity }}
                            </span>
                            <ion-icon name="chevron-forward"></ion-icon>
                        </div>
                    </div>
                </div>
                <div *ngIf="order.dishes.length == 0" class="no-dishes">
                    <div class="title">
                        <span class="text" [class.red]="ui.redDishes">
                            No chosen dishes
                        </span>
                    </div>
                </div>
            </div>
            <div class="comment" *ngIf="ui.showComment">
                <div class="title"><span class="text">Add comment</span></div>
                <textarea id="order-comment" #commentTextarea (click)="comment()" [value]="order.comment"
                    placeholder="Comment..." cols="30" rows="10"></textarea>
            </div>
            <div class="pay" *ngIf="ui.showPay">
                <button (click)="pay()" class="{{theme}}-button">PAY</button>
            </div>
        </div>
    </div>
</div>


<ng-container #dishModalContainer></ng-container>
<ng-container #commentModalContainer></ng-container>
<ng-container #tableConfirmModalContainer></ng-container>
<ng-container #tableScanModalContainer></ng-container>