<ion-header>
  <ion-toolbar color="orange">
    <ion-title>{{ component.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount grams you have</ion-label>
      <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price per kilogram</ion-label>
      <ion-input type="number" [(ngModel)]="price"></ion-input>
    </ion-item>
    <button (click)="submit()" class="success-button">Submit</button>
  </div>
</ion-content>