<div class="app">
  <div class="header" *ngIf="user">
    <div class="title">Invite {{ user.name }}</div>
  </div>
  <div class="works" *ngIf="ui.showWorks">
    <div class="body">
      The user is already working at the restaurant.
      <button class="orange-button" (click)="back()">Back</button>
    </div>
  </div>
  <div class="content" *ngIf="ui.showAll">
    <div class="role">
      <div (click)="role = 'manager'" [ngClass]="{ active: role == 'manager' }" class="one manager">
        Manager
      </div>
      <div (click)="role = 'waiter'" [ngClass]="{ active: role == 'waiter' }" class="one waiter">
        Waiter
      </div>
      <div (click)="role = 'cook'" [ngClass]="{ active: role == 'cook' }" class="one cook">
        Cook
      </div>
    </div>
    <button class="success-button" (click)="submit()">Submit</button>
    <div class="body">
      <div *ngIf="role == 'manager'" class="manager">
        <div class="block">
          <div class="title">Waiter / Cook</div>
          <div class="body">
            <div class="option">
              <div class="label">Waiter</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('work', 'waiter')" color="orange"></ion-toggle>
              </div>
            </div>
            <div class="option">
              <div class="label">Cook</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('work', 'cook')" color="orange"></ion-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="title">Dishes</div>
          <div class="body">
            <div class="option">
              <div class="label">Add & Change</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('dishes', 'add')" color="orange"></ion-toggle>
              </div>
            </div>
            <div class="option">
              <div class="label">Remove</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('dishes', 'remove')" color="orange"></ion-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="title">Components</div>
          <div class="body">
            <div class="option">
              <div class="label">Add & Change</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('components', 'add')" color="orange"></ion-toggle>
              </div>
            </div>
            <div class="option">
              <div class="label">Remove</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('components', 'remove')" color="orange"></ion-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="title">Customers</div>
          <div class="body">
            <div class="option">
              <div class="label">Blacklisting</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('customers', 'blacklisting')" color="orange"></ion-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="title">Staff</div>
          <div class="body">
            <div class="option">
              <div class="label">Hire</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('staff', 'hire')" color="orange"></ion-toggle>
              </div>
            </div>
            <div class="option">
              <div class="label">Change abilities</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('staff', 'settings')" color="orange"></ion-toggle>
              </div>
            </div>
            <div class="option">
              <div class="label">Fire</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('staff', 'fire')" color="orange"></ion-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="title">Restaurant</div>
          <div class="body">
            <div class="option">
              <div class="label">Theme</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('restaurant', 'theme')" color="orange"></ion-toggle>
              </div>
            </div>
            <div class="option">
              <div class="label">Logo</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('restaurant', 'logo')" color="orange"></ion-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>