<div class="app" (mousedown)="close()">
  <div class="body" (mousedown)="$event.stopPropagation()">
    <div class="title">Worker Settings</div>
    <div class="content">
      <div class="manager" *ngIf="type == 'manager'">
        <ion-item>
          <ion-label>Dishes management</ion-label>
          <ion-toggle mode="ios" color="warning" (ionChange)="set('dishes')" [(ngModel)]="settings.dishes"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Dishes removing</ion-label>
          <ion-toggle mode="ios" color="warning" (ionChange)="set('removingDishes')" [(ngModel)]="settings.removingDishes"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Components management</ion-label>
          <ion-toggle mode="ios" color="warning" (ionChange)="set('editingComponents')" [(ngModel)]="settings.editingComponents"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Staff management</ion-label>
          <ion-toggle mode="ios" color="warning" (ionChange)="set('staff')" [(ngModel)]="settings.staff"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="settings.staff">
          <ion-label>Staff removing</ion-label>
          <ion-toggle mode="ios" color="warning" (ionChange)="set('staffRemoving')" [(ngModel)]="settings.staffRemoving"></ion-toggle>
        </ion-item>
      </div>
    </div>
  </div>
</div>