<div class="app">
  <div class="image">
    <img [src]="image" alt="">
  </div>
  <div class="top">
    <div class="name">
      {{ dish.name }}
    </div>
    <div class="time">
      {{ dish.time }} min
    </div>
  </div>
  <div class="delay {{ orderDish.time.color }}">
    <span title="{{orderDish.time.hours}} hours and {{ orderDish.time.minutes}} minutes delay">
      <span *ngIf="orderDish.time.hours > 0">
        {{ orderDish.time.hours }} hours
      </span>
      {{ orderDish.time.minutes }} mins.
    </span>
  </div>
</div>