<div class="app" [ngClass]="{ taken: orderDish.taken }" (click)="chooseDish()">
  <div *ngIf="orderDish.taken" class="taken">
    TAKEN <p class="time" *ngIf="orderDish.takenTime && orderDish.takenTime.length > 0">{{ orderDish.takenTime }} ago</p>
  </div>
  <div class="image">
    <img [src]="image" alt="">
  </div>
  <div class="name">
    {{ dish.name }}
  </div>
  <div class="time">
    <div class="cooking">
      Cooking: {{ dish.time }} min.
    </div>
    <div class="delay {{ orderDish.time.color }}">
      Delay: {{ orderDish.time.title }}
    </div>
  </div>
</div>