.app {
    width: 236px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border .4s;
    &:hover {
        border: 2px solid var(--orange);
    }
    img {
        width: 228px;
        height: 152px;
        object-fit: cover;
        border-radius: 8px;
    }
    .top {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .delay {
        margin-top: 8px;
        &.red {
            color: var(--red);
        }
    }
}