.app {
    --dish-width: 246px;
    padding: 16px calc((624px - (var(--dish-width) * 2) - 24px) / 2);
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);
    }
}