<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="like()">
        <ion-icon *ngIf="!liked" (click)="like()" name="heart-outline" color="danger"></ion-icon>
        <ion-icon *ngIf="liked" name="heart" (click)="like()" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <div class="app" *ngIf="dish">
    <div class="body">
      <div class="image">
        <img [src]="image" alt="">
        <div class="type" *ngIf="type">
          {{ type.title }}
        </div>
        <div class="time">
          {{ dish.time }}m
        </div>
      </div>
      <div class="other">
        <div class="icon">
          <img [src]="type.img" *ngIf="type" alt="">
        </div>
        <div class="name">
          {{dish.name}}
        </div>
        <div class="price">
          {{ dish.price}}$
        </div>
      </div>
      <div class="buy">
        <div class="self">
          <div class="remove" *ngIf="quantity >= 1">
            <ion-fab-button color="success" (click)="remove()">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-fab-button>
          </div>
          <div class="quantity" *ngIf="quantity >= 1">
            {{ quantity }}
          </div>
          <div class="add">
            <ion-fab-button color="success" (click)="add()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>
      <div class="description" *ngIf="description">
        {{ description }}
      </div>
      <div class="questions">
        <ion-list *ngFor="let q of dish.questions">
          <ion-radio-group mode='ios' [(ngModel)]="answers[answers.length]">
            <ion-list-header>
              <ion-label>{{q.name}}</ion-label>
            </ion-list-header>
  
            <ion-item>
              <ion-label>{{q.answer1}}</ion-label>
              <ion-radio slot="start" [value]="{ answer: q.answer1, question: q.name }"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{q.answer2}}</ion-label>
              <ion-radio slot="start" [value]="{ answer: q.answer2, question: q.name }"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>