.header {
    padding: 0 412px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    height: 64px;
    border-bottom: 1px solid var(--border-color);
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
            font-size: 20px;
            color: var(--title-color);
            font-weight: 550;
            margin-left: 12px;
        }
        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                background: none;
                width: 40px;
                height: 40px;
                border: none;
                ion-icon {
                    position: absolute;
                }
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .orange-button {
            width: 168px;
        }
        .white-button {
            width: 82px;
        }
    }
}

.app {
    padding: 42px 412px;
    margin-bottom: 200px;
    .form {
        .categories {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 32px;
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 550;
                color: var(--title-color);
            }
            ion-item {
                width: 412px;
                margin-top: 12px;
            }
        }
        .top {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .image {
                position: relative;
                .input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    label {
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                    }
                    input {
                        position: absolute;
                        left: -99999rem;
                        // position: absolute;
                        // right: -2000px;
                    }
                }
                &.r1 {
                    width: 324px;
                    height: 324px;
                }
                &.r2 {
                    width: 324px;
                    height: 244px;
                }
                &.r3 {
                    width: 324px;
                    height: 183px;
                }
                img {
                    border: 2px solid var(--gray);
                    border-radius: 12px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .np {
                margin-top: 12px;
                display: flex;
            }
            .t {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}