<div class="header">
  <div class="title">
    <div class="close">
      <button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>
    <div class="text" *ngIf="mode == 'add'">
      Add dish to {{ restaurant.name }}
    </div>
    <div class="text" *ngIf="mode == 'edit' && dish">
      Edit {{ dish.name }}
    </div>
  </div>
  <div class="buttons">
    <button class="orange-button" [disabled]="ui.disableAdd"  (click)="add(false)" *ngIf="mode == 'add'">Save and add more</button>
    <button class="white-button"  [disabled]="ui.disableAdd"  (click)="add(true)" *ngIf="mode == 'add'">Add</button>
    <button class="orange-button" [disabled]="ui.disableSave" (click)="save()" *ngIf="mode == 'edit'">Save</button>
  </div>
</div>


<ion-content>
  <div class="app">
    <div [formGroup]="form" *ngIf="form" class="form">
      <div class="top">
        <div class="image {{imageClass}}">
          <img [src]="image || './../../../assets/images/no-image.jpg'" alt="">
          <div class="input">
            <label class="label" for="image-input"></label>
            <input type="file" onclick="this.value = null" (change)="setImage($event)" id="image-input">
          </div>
        </div>
        <div class="np">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Price $</ion-label>
            <ion-input formControlName="price" type="number"></ion-input>
          </ion-item>
        </div>
        <div class="t">
          <ion-item>
            <ion-label position="floating">Time minutes</ion-label>
            <ion-input formControlName="time" type="number"></ion-input>
          </ion-item>
          <div class="link">
            <a class="dark-link" routerLink="/link">Help?</a>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating">Description <small>optional</small></ion-label>
          <ion-textarea cols="50" rows="10" formControlName="description"></ion-textarea>
        </ion-item>
      </div>
      <div class="categories">
        <div class="title">
          Categories
        </div>
        <ion-item>
          <ion-label>Shown to client</ion-label>
          <ion-select value="brown" formControlName="general" mode="ios" okText="Submit" cancelText="Close">
            <ion-select-option *ngFor="let i of general" [value]="i.value">{{ i.title }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Categories</ion-label>
          <ion-select value="brown" formControlName="categories" mode="ios" okText="Submit" multiple="true" cancelText="Close">
            <ion-select-option *ngFor="let i of categories" [value]="i.value">{{ i.title }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>More categories</ion-label>
          <ion-select value="brown" formControlName="strict" mode="ios" okText="Submit" multiple="true" cancelText="Close">
            <ion-select-option *ngFor="let i of strict" [value]="i.value">{{ i.title }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>


