<ion-header>
  <div class="nav">
    <div class="exit">
      <button id="exit" (click)="exit()"><ion-icon name="close-outline"></ion-icon></button>
    </div>
    <div class="name">
      <p *ngIf="restaurant">{{ ui.title }}</p>
    </div>
    <div *ngIf="mode == 'edit'" class="save">
      <div class="gap"></div>
      <button id="save" (click)="edit()">Save</button>
    </div>
    <div class="save" *ngIf="mode == 'add'">
      <button id="save-more" (click)="addDish(false)">Save and add more</button>
      <button id="save" (click)="addDish(true)">Save dish</button>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="app">
    <div class="content" *ngIf="restaurant">
      <form [formGroup]="addDishForm">
        <div class="message">
          {{ ui.msg }}
        </div>
        <div class="image">
          <img [src]="image" class="the-image" alt="">
          <div class="bg">
            <div class="img-button">
              <label for="img-upload">Image</label>
              <input id="img-upload" (change)="setImage($event)" type="file">
            </div>
          </div>
        </div>
        <div class="name-price">
          <div class="name">
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input formControlName="name"></ion-input>
            </ion-item>
          </div>
          <div class="price">
            <ion-item>
              <ion-label position="floating">Price</ion-label>
              <ion-input formControlName="price" type="number"></ion-input>
            </ion-item>
          </div>
        </div>
        <div class="time">
          <div class="field">
            <ion-item>
              <ion-label>Time m. <p class="optional">optional</p> </ion-label>
              <ion-input formControlName="time" type="number"></ion-input> 
            </ion-item> 
          </div>
          <div class="text">
            <a class="dark-link" routerLink="help">Help?</a>
          </div>
        </div>
        <div class="description">
          <ion-item>
            <ion-label position="floating">Description <p class="optional">optional</p></ion-label>
            <ion-textarea cols="10" rows="12" formControlName="description"></ion-textarea>
          </ion-item>
        </div>
        <div class="types">
          <div class="title">
            <div class="name">Categories</div>
            <div class="help">
              <a routerLink="help" class="dark-link">Help?</a>
            </div>
          </div>
          <ion-item>
            <ion-label>General</ion-label>
            <ion-select formControlName="general" mode="ios" cancelText="Exit" okText="Confirm">
              <ion-select-option *ngFor="let type of general" [value]="type.value">
                {{ type.title }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Categories</ion-label>
            <ion-select formControlName="categories" mode="ios" multiple="true" cancelText="Exit" okText="Confirm">
              <ion-select-option *ngFor="let type of categories" [value]="type.value">
                {{ type.title }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>More categories</ion-label>
            <ion-select formControlName="strict" mode="ios" multiple="true" cancelText="Exit" okText="Confirm">
              <ion-select-option *ngFor="let type of strict" [value]="type.value">
                {{ type.title }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </form>
    </div>
  </div>
</ion-content>
