<div class="app">
  <div class="header">
    <div class="back">
      <p (click)="back()"><ion-icon name="arrow-back"></ion-icon> BACK</p>
    </div>
    <div class="more">
      <button class="orange-button" (click)="more()">More</button>
    </div>
  </div>
  <div class="user" *ngIf="user">
    <div class="avatar">
      <img [src]="avatar" alt="">
    </div>
    <div class="details">
      <div class="name">
        {{ user.name }}
      </div>
      <div class="username" *ngIf="!user.name">
        {{ user.username }}
      </div>
      <div class="email">
        {{ user.email }}
      </div>
    </div>
  </div>
  <div *ngIf="worker" class="worker">
    <div class="top">
      <div class="role">
        <p>{{ worker.role }}</p>
      </div>
      <div class="joined">
        <p>
          Joined: {{ worker.joined }}
        </p>
      </div>
    </div>
    <div class="bottom">
      <div class="title">
        {{ restaurant.name }} worker
      </div>
    </div>
  </div>
</div>