.app {
    .header {
        margin-top: 24px;
        .search {
            width: 512px;
            display: flex;
            align-items: center;
            button {
                width: 42px;
                height: 42px;
            }
        }
    }
    .qr-codes {
        .top {
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 8px;
            padding-right: 8px;
            .title {
                font-size: 20px;
            }
            .buttons {
                display: flex;
                #remove {
                    height: 32px;
                    width: 36px;
                    background-color: var(--red);
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    ion-icon {
                        font-size: 20px;
                    }
                    &:hover {
                        background-color: var(--ion-color-red-shade);
                    }
                }
                #add {
                    height: 32px;
                    width: 36px;
                    background-color: var(--green);
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    ion-icon {
                        font-size: 20px;
                    }
                    &:hover {
                        background-color: var(--ion-color-green-shade);
                    }
                }
            }
        }
        .list {
            display: flex;
            overflow-x: scroll;
            white-space: nowrap;
            scrollbar-width: auto;
            scrollbar-color: var(--gray) transparent;
            padding-bottom: 18px;


            &::-webkit-scrollbar {
                width: 10px;
                height: 6px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--gray);
                border-radius: 10px;
            }
            .table {
                margin-left: 8px;
                padding-top: 8px;
                border-radius: 8px;
                transition: all .4s;
                &:hover {
                    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                }
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    color: var(--text-color);
                }
            }
        }
    }
    .customers {
        .top {
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            // border-bottom: 1px solid var(--border-color);
            .title {
                font-size: 20px;
            }
            .buttons {
                display: flex;
                align-items: center;
                .last-update {
                    color: var(--text-color);
                    font-size: 14px;
                }
                button {
                    margin-left: 12px;
                }
            }
        }
        .list {
            .example {
                display: grid;
                grid-template-columns: 10% 25% 20% 25% 20%;
                height: 42px;
                border-bottom: 1px solid var(--border-color);
                div {
                    font-size: 18px;
                    color: var(--text-color);
                    display: flex;
                    align-items: center;
                }
            }
            .customer {
                display: grid;
                grid-template-columns: 10% 25% 20% 25% 20%;
                height: 52px;
                border-bottom: 1px solid var(--border-color);
                .avatar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                    }
                }
                .name,.orders,.last-visit,.total {
                    font-size: 18px;
                    color: var(--text-color);
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .app {
        .customers {
            .list {
                .example {
                    grid-template-columns: 30% 20% 25% 25%;
                    .name,.orders,.last-visit,.total {
                        font-size: 16px;
                    }
                    .avatar {
                        display: none;
                    }
                }
                .customer {
                    grid-template-columns: 30% 20% 25% 25%;
                    .avatar {
                        display: none;
                    }
                }
            }
        }
    }
}