<div class="app">
  <div *ngIf="ui.showQrCodes" class="qr-codes">
    <div class="top">
      <div class="title">
        QR codes
      </div>
      <div class="buttons">
        <button (click)="removeTable()" id="remove">
          <ion-icon name="remove"></ion-icon>
        </button>
        <button (click)="addTable()" id="add">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </div>
    <div class="list" *ngIf="qrCodes && qrCodes.length > 0">
      <div *ngFor="let i of qrCodes" class="table">
          <div class="title">
            {{i.table}}
          </div>
          <div class="image">
            <span title="Download QR code">
              <a [href]="i.downloadUrl" download="{{restaurantName}}-qrcode-for-table-{{i.table}}">
                <qrcode (qrCodeURL)="onChangeURL($event, i.table - 1)" [qrdata]="i.link" [width]="154" [errorCorrectionLevel]="'M'"></qrcode>
              </a>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="ui.showCustomers" class="customers">
    <div class="top">
      <div class="title">
        Customers
      </div>
      <div class="buttons">
        <span class="last-update">
          Last update: {{ lastUpdate }}
        </span>
        <button (click)="updateCustomers(true)" class="orange-button">Update</button>
      </div>
    </div>
    <div class="list">
      <div class="example">
        <div class="avatar"></div>
        <div class="name">Name</div>
        <div class="orders">Orders</div>
        <div class="last-visit">Last ordered</div>
        <div class="total">Total spendings</div>
      </div>
      <div *ngFor="let i of customers" (click)="fullCustomer(i._id)" class="customer">
        <div class="avatar">
          <img [src]="i.avatar" alt="">
        </div>
        <div class="name">
          {{ i.name }}
        </div>
        <div class="orders">
          {{ i.orders }}
        </div>
        <div class="last-visit">
          {{ i.lastOrdered }}
        </div>
        <div class="total">
          ${{ i.total / 100 }}
        </div>
      </div>
    </div>
  </div>
</div>