<div class="the-header-with-close-icon">
    <div class="title">
        <div class="close">
            <button (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>
        <div class="text">
            Cook and waiter
        </div>
    </div>
    <div class="buttons">
        <button class="orange-button" (click)="manualOrder()"> <ion-icon name="add"></ion-icon> </button>
    </div>
</div>

<div class="app">
    <app-cook (leave)="fullOrder($event)"></app-cook>
    <app-waiter></app-waiter>
</div>

<ng-container #manualOrderModalContainer></ng-container>
<ng-container #fullOrderModalContainer></ng-container>
