.app {
    div {
        width: 100%;
        height: 32px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        padding-left: 8px;
        cursor: pointer;
        font-size: 18px;
        &:hover {
            background-color: rgb(247, 247, 247);
        }
        &:last-of-type {
            border: none;
        }
    }
    .more {
        color: var(--blue);
    }
    .remove {
        color: var(--red);
    }
    .edit {
        color: var(--orange);
    }
}