.app {
    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
            width: 286px;
            color: var(--gray);
        }
        .input {
            width: 296px;
            height: 38px;
            display: grid;
            grid-template-columns: 30% 70%;
            .label {
                background-color: var(--light-gray);
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 6px;
                font-size: 18px;
            }
            input {
                background-color: var(--light-gray);
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                border: none;
                padding-left: 8px;
                font-size: 18px;
            }
        }
    }
    .username {
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
            width: 286px;
            color: var(--gray);
        }
        .input {
            margin-top: 12px;
            width: 324px;
            height: 38px;
            display: grid;
            grid-template-columns: 33% 67%;
            border-radius: 12px;
            &.red {
                border-bottom: 2px solid var(--red);
            }
            &.green {
                border-bottom: 2px solid var(--green);
            }
            .label {
                background-color: var(--light-gray);
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 6px;
                font-size: 18px;
            }
            input {
                background-color: var(--light-gray);
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                border: none;
                padding-left: 8px;
                font-size: 18px;
            }
        }
    }
    .email {
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
            width: 286px;
            color: var(--gray);
        }
        button {
            margin-top: 12px;
        }
        .input {
            margin-top: 12px;
            width: 324px;
            height: 38px;
            display: grid;
            grid-template-columns: 28% 82%;
            border-radius: 12px;
            &.code {
                grid-template-columns: 50% 50%;
            }
            &.red {
                border-bottom: 2px solid var(--red);
            }
            &.green {
                border-bottom: 2px solid var(--green);
            }
            .label {
                background-color: var(--light-gray);
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 6px;
                font-size: 18px;
            }
            input {
                background-color: var(--light-gray);
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                border: none;
                padding-left: 8px;
                font-size: 18px;
            }
        }
    }
}