<div class="app">
  <div class="title">
    <div class="name">
      Components
    </div>
    <div class="search">
      <ion-searchbar mode="ios" [(ngModel)]="searchText"></ion-searchbar>
    </div>
    <div class="buttons">
      <div class="button">
        <button id="add-button" (click)="add()"><ion-icon name="add-outline"></ion-icon>Add component</button>
      </div>
    </div>
  </div>
  <div class="components" *ngIf="components">
    <div class="example">
      <div class="name">
        <p class="name">Name</p>
      </div>
      <div class="amount">
        Amount
      </div>
      <div class="gap"></div>
      <div class="modified">
        Modified
      </div>
      <div class="buttons">
        
      </div>
    </div>
    <div *ngIf="ui.noComponents" class="no-components">
      <p>You don't have any components yet.</p>
      <button class="orange-button" (click)="add()">Add first component</button>
    </div>
    <app-component *ngFor="let i of components" [data]="i" (Emitter)="onEmited($event)"></app-component>
  </div>
</div>
