<div class="app">
  <div class="top">
    <div class="back" (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>BACK
    </div>
    <div class="gap"></div>
    <div class="buttons">
      <button class="settings orange-button" (click)="goSettings()">Settings</button>
    </div>
  </div>
  <div class="content" *ngIf="user">
    <div class="details">
      <div class="top">
        <div class="avatar">
          <img [src]="image" alt="">
        </div>
        <div class="name-container" [ngClass]="{ 'full-name': !!user.name }">
          <div class="name" *ngIf="user.name">
            {{ user.name }}
          </div>
          <div class="username">
            {{ user.username }}
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="role">
          Role: {{ role }}
        </div>
        <div class="joined">
          Joined: {{ joined }}
        </div>
      </div>
    </div>
    <div class="worker" *ngIf="restaurant">
      <div class="title">
        <div id="worker" class="name">
          {{ restaurant.name }} Worker
        </div>
      </div>
      <div class="content">
        <div class="capabilities" *ngIf="ui.showCapabilities">
          <div class="title">
            Capabilities
          </div>
          <div class="button">
            <button class="orange-button" (click)="capabilities()">See</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>