.app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 128px;

    .box {
        background-color: white;
        border-radius: 8px;
        width: 512px;
        min-height: 124px;

        .header {
            width: 100%;
            height: 38px;
            background-color: var(--orange);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            display: flex;
            align-items: center;

            button {
                background: none;
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;

                ion-icon {
                    color: var(--black);
                    font-size: 24px;
                }

                ;
            }

            .title {
                .text {
                    color: var(--black);
                    font-size: 18px;
                }
            }
        }

        .content {
            padding: 8px;

            .selected {
                .title {
                    margin-top: 12px;
                    .text {
                        color: var(--title-color);
                    }
                }

                .order {
                    color: var(--black);
                }

                .table {
                    .title {
                        color: var(--black);
                    }
                }

                .no-selected {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .text {
                        color: var(--gray);
                    }
                }

                .list {
                    padding-top: 12px;
                    .dish {
                        border-bottom: 1px solid var(--border-color);
                        height: 26px;
                        display: grid;
                        grid-template-columns: 60% 20% 20%;

                        .name {
                            color: var(--black);
                            padding-left: 8px;
                        }
                        .price {
                            color: var(--text-color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .amount {
                            color: var(--text-color);
                        }

                    }
                }

                .comment {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 12px;

                    textarea {
                        background-color: white;
                        border: 1px solid var(--border-color);
                        outline: none;
                        padding: 6px;
                        border-radius: 8px;
                        color: var(--black);
                        width: 90%;
                        min-height: 82px;
                        resize: none;

                        &:focus {
                            border: 1px solid var(--gray);
                        }
                    }
                }

                .buttons {
                    display: flex;
                    justify-content: flex-end;

                    margin-top: 12px;
                }
            }

            .find {
                margin-top: 32px;
                border-top: 1px solid var(--border-color);
                padding-top: 12px;

                .search {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    input {
                        height: 32px;
                        width: 100%;
                        outline: none;
                        border: 1px solid var(--border-color);
                        border-radius: 6px;
                        padding-left: 8px;
                        color: var(--black);

                        &:focus {
                            border: 1px solid var(--gray);
                        }

                        &::placeholder {
                            color: var(--gray);
                            opacity: 1;
                        }

                        &:-ms-input-placeholder {
                            color: var(--gray);
                        }

                        &::-ms-input-placeholder {
                            color: var(--gray);
                        }
                    }

                    button {
                        height: 34px;
                        width: 34px;
                        margin: 0;
                    }
                }

                .dishes {
                    margin-top: 12px;
                    padding-bottom: 32px;
                    .not-found {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .text {
                            color: var(--gray);
                        }
                    }
                    .list {
                        .dish {
                            width: 100%;
                            display: grid;
                            grid-template-columns: 70% 20% 10%;
                            height: 34px;

                            .name {
                                display: flex;
                                align-items: center;
                                padding-left: 12px;
                                color: var(--black);
                            }
                            .price {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: var(--text-color);
                            }
                            .button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                
                                button {
                                    height: 28px;
                                    width: 28px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}