.app {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .dish {
        border-bottom: 1px solid rgb(200, 200, 200);
        border-top: 1px solid rgb(200, 200, 200);
        width: 90%;
        height: 45px;
        display: grid;
        grid-template-columns: 10% 60% 30%;
        .name,.price,.quantity {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .quantity {
            font-size: 20px;
            font-weight: lighter;
        }
    }
    
    
    .menu {
        position: absolute;
        top: -40px;
        width: 90%;
        height: 130px;
        z-index: 999999;
        .center {
            height: 50px;
            background-color: rgba(255, 255, 255, 0);
        }
        .top-menu {
            display: grid;
            grid-template-columns: 20% 80%;
            height: 40px;
            width: 100%;
            background-color: rgb(255, 196, 0);
            top: 0;
            .icon {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(255, 166, 0);
            }
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                font-weight: lighter;
            }
        }
        .bottom-menu {
            width: 100%;
            bottom: 0;
            height: 40px;
            background-color: rgb(255, 157, 0);
            display: grid;
            grid-template-columns: 20% 80%;
            .icon {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(255, 115, 0);
            }
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                font-weight: lighter;
            }
        }
    }
}