.app {
    .title {
        display: grid;
        grid-template-columns: 20% 60% 10% 10%;
        .back {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: rgb(155, 155, 155);
            transition: .4s all;
            font-size: 18px;
            ion-icon {
                font-size: 22px;
            }
            &:hover {
                color: rgb(100, 100, 100);
            }
        }
        .remove {
            display: flex;
            justify-content: center;
            align-items: center;
            #remove {
                height: 28px;
                width: 100px;
                border: 1px solid #eb445a;
                border-radius: 7px;
                background: none;
                background-color: #eb445a07;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #eb445a;
                &:hover {
                    color: white;
                    background-color: #eb445a;
                }
            }
        }
        .edit {
            display: flex;
            justify-content: center;
            align-items: center;
            #edit {
                height: 28px;
                width: 100px;
                border: 1px solid ;
                border-radius: 7px;
                background: none;
                background-color: #ffc40907;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffc409;
                &:hover {
                    color: white;
                    background-color: #ffc409;
                }
            }
        }
    }
    .body {
        .details {
            height: 100px;
            display: grid;
            grid-template-columns: 40% 30% 30%;
            .name {
                font-size: 24px;
                color: rgb(94, 94, 94);
            }
            .amount,.price,.name {
                display: flex;
                align-items: center;
                padding-left: 10px;
            }
        }
    }
}