<div class="app">
  <div class="title">
    <div class="back" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon> COMPONENTS
    </div>
    <div class="gap"></div>
    <div class="edit">
      <button id="edit" (click)="edit()">Edit</button>
    </div>
    <div class="remove">
      <button id="remove" (click)="remove()">Remove</button>
    </div>
  </div>
  <div class="body">
    <div class="details" *ngIf="component">
      <div class="name">
        {{ component.name }}
      </div>
      <div class="amount">
        {{ component.amount }} {{ fullType }}s
      </div>
      <div class="price">
        {{ component.price }} per {{ fullType }}
      </div>
    </div>
  </div>
</div>
<app-window *ngIf="windowType && restaurant" [windowType]="windowType" (Emitter)="onWindowEmited($event)"
  [restaurant]="restaurant._id" [component]="component"></app-window>