.app {
    height: 100%;
    position: relative;
    .fire {
        width: 100%;
        height: 42px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}