<div class="app">
    <div class="box">
        <div class="header">
            <button id="close-modal" (click)="leave.emit()">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>
        <div class="content">
            <div class="dish">
                <div class="image">
                    <img *ngIf="image" [src]="image" alt="">
                    <div class="loading" *ngIf="!image || !dish">
                        <span class="spinner"></span>
                    </div>
                </div>
                <div class="name-price">
                    <div class="name">
                        <span *ngIf="dish?.name" class="text title-font">
                            {{ dish.name }}
                        </span>
                        <div class="loading" *ngIf="!dish">
                            <span class="spinner"></span>
                        </div>
                    </div>
                    <div class="price">
                        <span *ngIf="dish?.price" class="text">
                            ${{ dish.price / 100 }}
                        </span>
                        <div class="loading" *ngIf="!dish">
                            <span class="spinner"></span>
                        </div>
                    </div>
                </div>
                <div class="description" *ngIf="dish && dish.description">
                    <span class="text">
                        {{ dish.description }}
                    </span>
                </div>
            </div>
            <div class="buttons">
                <span class="count">
                    {{ amount }}
                </span>
                <button class="green-button" (click)="add()">Add</button>
            </div>
        </div>
    </div>
</div>