.app {
    .o {
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 12px;
        cursor: pointer;
        &:hover {
            background-color: rgb(246, 246, 246);
        }
        &:last-of-type {
            border: none;
        }
    }
}