.app {
    .header {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
            button {
                width: 164px;
                ion-icon {
                    font-size: 20px;
                }
            }
        }
    }
    .list {
        .exp {
            height: 42px;
            border-bottom: 1px solid var(--border-color);
            display: grid;
            grid-template-columns: 40% 40% 20%;
            div {
                display: flex;
                align-items: center;
                padding-left: 8px;
                color: var(--text-color);
            }
        }
        .comp {
            height: 42px;
            border-bottom: 1px solid var(--border-color);
            display: grid;
            grid-template-columns: 40% 50% 10%;
            cursor: pointer;
            &:hover {
                background-color: rgb(252, 252, 252);
            }
            .name,.amount {
                display: flex;
                align-items: center;
                padding-left: 8px;
            }
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: default;
                button {
                    width: 32px;
                    height: 32px;
                    background: none;
                    font-size: 24px;
                }
            }
        }
    }
}