<div class="app">
  <div class="header">
    <div class="gap">

    </div>
    <div class="buttons">
      <button class="orange-button" (click)="add()"><ion-icon name="add"></ion-icon> Add component</button>
    </div>
  </div>
  <div class="overview">

  </div>
  <div class="list" *ngIf="components">
    <div class="exp">
      <div class="name">Name</div>
      <div class="amount">Amount</div>
      <div class="button"></div>
    </div>
    <div  *ngFor="let i of components" (click)="go(i._id)" class="comp">
      <div class="name">
        {{ i.name }}
      </div>
      <div class="amount">
        {{ i.amount }}
      </div>
      <div class="button" (click)="$event.stopPropagation()">
        <button (click)="more($event, i._id)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</div>