<div class="header">
  <div class="close">
    <button (click)="close()">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <div class="title">
    <div class="text">
      {{ ui.title }}
    </div>
  </div>
  <div class="links">
  </div>
</div>

<ion-content>
  <div class="app">
    <div class="categories" *ngIf="kitchen.dishes">
      <div class="block">
        <div class="category appetizers">
          <div class="body">
            <div class="title" (click)="go('a')">
              <div class="text">
                Appetizers
              </div>
              <div class="quantity">
                {{ kitchen.dishes.a.length }}
              </div>
            </div>
            <div class="dishes">
              <app-dish *ngFor="let i of kitchen.dishes.a | slice:0:6" (Emitter)="onDishEmitted($event)" [orderDish]="i"
                [dish]="kitchen.convertedDishes[i.dishId]"></app-dish>
            </div>
            <button class="more" (click)="go('a')" *ngIf="kitchen.dishes.a.length > 6">
              More
            </button>
          </div>
        </div>
        <div class="category soups">
          <div class="body">
            <div class="title" (click)="go('so')">
              <div class="text">Soups</div>
              <div class="quantity">
                {{ kitchen.dishes.so.length }}
              </div>
            </div>
            <div class="dishes">
              <app-dish *ngFor="let i of kitchen.dishes.so | slice:0:6" (Emitter)="onDishEmitted($event)" [orderDish]="i"
                [dish]="kitchen.convertedDishes[i.dishId]"></app-dish>
            </div>
            <button class="more" (click)="go('so')" *ngIf="kitchen.dishes.so.length > 6">
              More
            </button>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="category salads">
          <div class="body">
            <div class="title" (click)="go('sa')">
              <div class="text">
                Salads
              </div>
              <div class="quantity">
                {{ kitchen.dishes.sa.length }}
              </div>
            </div>
            <div class="dishes">
              <app-dish *ngFor="let i of kitchen.dishes.sa | slice:0:6" (Emitter)="onDishEmitted($event)" [orderDish]="i"
                [dish]="kitchen.convertedDishes[i.dishId]"></app-dish>
            </div>
            <button class="more" (click)="go('sa')" *ngIf="kitchen.dishes.sa.length > 6">
              More
            </button>
          </div>
        </div>
        <div class="category entrees">
          <div class="body">
            <div class="title" (click)="go('e')">
              <div class="text">
                Entrees
              </div>
              <div class="quantity">
                {{ kitchen.dishes.e.length }}
              </div>
            </div>
            <div class="dishes">
              <app-dish *ngFor="let i of kitchen.dishes.e | slice:0:6" (Emitter)="onDishEmitted($event)" [orderDish]="i"
                [dish]="kitchen.convertedDishes[i.dishId]"></app-dish>
            </div>
            <button class="more" (click)="go('e')" *ngIf="kitchen.dishes.e.length > 6">
              More
            </button>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="category sides">
          <div class="body">
            <div class="title" (click)="go('si')">
              <div class="text">
                Sides
              </div>
              <div class="quantity">
                {{ kitchen.dishes.si.length }}
              </div>
            </div>
            <div class="dishes">
              <app-dish *ngFor="let i of kitchen.dishes.si | slice:0:6" (Emitter)="onDishEmitted($event)" [orderDish]="i"
                [dish]="kitchen.convertedDishes[i.dishId]"></app-dish>
            </div>
            <button class="more" (click)="go('si')" *ngIf="kitchen.dishes.si.length > 6">
              More
            </button>
          </div>
        </div>
        <div class="category desserts">
          <div class="body">
            <div class="title" (click)="go('d')">
              <div class="text">Desserts</div>
              <div class="quantity">
                {{ kitchen.dishes.d.length }}
              </div>
            </div>
            <div class="dishes">
              <app-dish *ngFor="let i of kitchen.dishes.d | slice:0:6" (Emitter)="onDishEmitted($event)" [orderDish]="i"
                [dish]="kitchen.convertedDishes[i.dishId]"></app-dish>
            </div>
            <button class="more" (click)="go('d')" *ngIf="kitchen.dishes.d.length > 6">
              More
            </button>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="category beverages">
          <div class="body">
            <div class="title" (click)="go('b')">
              <div class="text">Beverages</div>
              <div class="quantity">
                {{ kitchen.dishes.b.length }}
              </div>
            </div>
            <div class="dishes">
              <app-dish *ngFor="let i of kitchen.dishes.b | slice:0:6" (Emitter)="onDishEmitted($event)" [orderDish]="i"
                [dish]="kitchen.convertedDishes[i.dishId]"></app-dish>
            </div>
            <button class="more" (click)="go('b')" *ngIf="kitchen.dishes.b.length > 6">
              More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>