<div class="app">
  <div class="nav">
    <div class="title">
      People
    </div>
    <div class="link" [ngClass]="{ active: page === 'staff' }">
      <a (click)="go('staff')">Staff</a>
    </div>
    <div class="link" [ngClass]="{ active: page === 'customers' }">
      <a (click)="go('customers')">Customers</a>
    </div>
    <div class="link" [ngClass]="{ active: page === 'settings' }">
      <a (click)="go('settings')">Settings</a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>