<div class="app" (mousedown)="leave.emit()" [@showUp]>
    <div #setLocation class="popover" (mousedown)="$event.stopPropagation()">
        <div class="name">
            {{ name }}
        </div>
        <div class="buttons">
            <button id="profile" class="button-font" (click)="profile()">
                <ion-icon name="accessibility-outline"></ion-icon>
                <span class="text">
                    Profile
                </span>
            </button>
            <button id="sign-out" class="button-font" (click)="signOut()">
                <ion-icon name="log-out-outline"></ion-icon>
                <span class="text">
                    Sign out
                </span>
            </button>
        </div>
        <div class="buttons">
            <button id="add-restaurant" class="button-font" (click)="addRestaurant()">
                <ion-icon name="add-outline"></ion-icon>
                <span class="text">
                    Add restaurant
                </span>
            </button>
        </div>
    </div>
</div>