.app {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.253);
    .body {
        width: 500px;
        background-color: white;
        border-radius: 10px;
        padding: 10px 15px;
        .searching {
            height: 400px;
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                color: rgb(116, 116, 116);
            }
            .result {
                margin-top: 20px;
                .user {
                    margin-top: 10px;
                    display: grid;
                    grid-template-columns: 20% 25% 30% 25%;
                    .avatar {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            border-radius: 100%;
                            height: 32px;
                            width: 32px;
                        }
                    }
                    .add,.name {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .then {
            height: 400px;
            .title {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .back {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    .button {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        font-size: 17px;
                        color: rgb(163, 163, 163);
                        ion-icon {
                            font-size: 20px;
                        }
                        &:hover {
                            color: rgb(97, 97, 97);
                        }
                    }
                }
                .add {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                }
            }
            .user {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 15px;
                .avatar {
                    img {
                        border-radius: 10px;
                        height: 148px;
                        width: 148px;
                    }
                }  
            }
        }
        .invite {
            position: relative;
            width: 100%;
            height: 100%;
            height: 500px;
            .title {
                color: rgb(145, 145, 145);
                margin: 7px;
                font-size: 17px;
            }
            .submit-button {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
    }
}


.add-button {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: #2dd36f 1px solid;
    background: none;
    color: #2dd36f;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #2dd36f;
        color: white;
    }
}