.app {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 124px;
    z-index: 99999;
    background-color: rgb(0,0,0,0.25);

    .box {
        width: 100%;
        height: 40vh;
        background-color: white;

        .header {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: var(--orange);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 42px;
            width: 100%;

            .title {
                font-size: 18px;
                color: var(--black);
                font-weight: 550;
            }
            button {
                height: 42px;
                width: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                ion-icon {
                    font-size: 24px;
                }
            }
        }
    }
}


@media screen and (min-width: 500px) {
    .app {
        .box {
            border-radius: 8px;
            width: 424px;

            .header {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
        }
    }
}