.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .restaurants {
        width: 300px;
        .title {
            display: grid;
            grid-template-columns: 70% 30%;
            height: 60px;
            width: 100%;
            .text {
                font-size: 24px;
                font-weight: lighter;
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                    padding: 0;
                }
            }
            .function {
                display: flex;
                justify-content: center;
                align-items: center;
                .b {
                    margin: 0;
                }
            }
        }
        .all {
            width: 100%;
            .one {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .other {
        .work {
            width: 300px;
            .title {
                display: grid;
                grid-template-columns: 70% 30%;
                height: 60px;
                width: 100%;
                .text {
                    font-size: 24px;
                    font-weight: lighter;
                    display: flex;
                    align-items: center;
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .one {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .invites {
            .one {
                padding: 30px;
                border-radius: 15px;
                &:hover {
                    background-color: rgb(238, 238, 238);
                }
                display: grid;
                grid-template-columns: 1fr 1fr;
                .name,.buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}