<div class="header">
  <div class="title">
    Welcome to Ctraba!
  </div>
  <div class="links">
    <div class="link restaurant">
      <a routerLink="/add-restaurant">
        Add restaurant
      </a>
    </div>
    <div class="link job">
      <a routerLink="/jobs">
        Find job
      </a>
    </div>
    <div class="link settings">
      <a routerLink="/user/settings" [replaceUrl]="true">
        Settings
      </a>
    </div>
  </div>
</div>

<ion-content>
  <div class="app">
    <div class="user-info">
      <div class="avatar">
        <img [src]="avatar" alt="">
      </div>
      <div class="other">
        <div class="name">
          {{ ui.name }}
        </div>
        <div class="username">
          {{ ui.username }}
        </div>
        <div class="email">
          {{ ui.email }}
        </div>
        <button class="edit"><ion-icon name="pencil-outline"></ion-icon> Edit profile</button>
      </div>
    </div>
    <div class="content">
      <div class="left">
        <div class="add-restaurant" *ngIf="ui.addRestaurant">
          <div class="content">
            <div class="text">
              Try to run your own restaurant
            </div>
            <div class="buttons">
              <button class="info">With Ctraba it is not as hard as it seems</button>
              <button class="add" (click)="addRestaurant()">Add restaurant</button>
            </div>
          </div>
        </div>
        <div class="restaurants" *ngIf="ui.showRestaurants">
          <div class="title">
            Restaurants
          </div>
          <div class="list">
            <div *ngFor="let i of restaurants" class="restaurant">
              <div class="name">
                {{ i.name }}
              </div>
              <div class="status {{ i.status }}">
                {{ i.status }}
              </div>
              <div class="button">
                <button class="go" (click)="goRestaurant(i._id)">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="jobs" *ngIf="ui.showJobs">
          <div class="title">
            Your jobs
          </div>
          <div class="list">
            <div class="restaurant" *ngFor="let i of works">
              <div class="name">
                {{ i.name }}
              </div>
              <div class="button">
                <button class="go" (click)="goWork(i._id)">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div *ngIf="ui.showInvitations" class="invitations">
          <div class="body">
            <div class="title">
              Invitations
            </div>
            <div class="list">
              <div class="one" *ngFor="let i of invitations">
                <div class="restaurant">
                  <div class="name">
                    {{ i.restaurant }}
                  </div>
                  <div class="text">
                    Offers you a <p class="role">{{ i.role }}</p> job
                  </div>
                </div>
                <div class="other">
                  <div class="send">
                    Sent: {{ i.date }}
                  </div>
                  <div class="buttons">
                    <button class="accept success-button" (click)="invitation(i._id, 'accept')">Accept</button>
                    <button class="reject red-button" (click)="invitation(i._id, 'reject', i.restaurantId)">
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="job" *ngIf="ui.showFindJob">
          <div class="body">
            <div class="title">
              Find job with Ctraba
            </div>
            <div class="im">
              I'm a...
            </div>
            <div class="choose">
              <div class="option m" (click)="setRole('m')">
                <div class="text">Manager</div>
                <div class="button">
                  <div class="chosen" *ngIf="role == 'm'"><ion-icon name="checkmark-outline"></ion-icon></div>
                </div>
              </div>
              <div class="option c" (click)="setRole('c')">
                <div class="text">Cook</div>
                <div class="button">
                  <div class="chosen" *ngIf="role == 'c'"><ion-icon name="checkmark-outline"></ion-icon></div>
                </div>
              </div>
              <div class="option w" (click)="setRole('w')">
                <div class="text">
                  Waiter
                </div>
                <div class="button">
                  <div class="chosen" *ngIf="role == 'w'"><ion-icon name="checkmark-outline"></ion-icon></div>
                </div>
              </div>
            </div>
            <div class="continue">
              <button (click)="findJob()">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>