<ion-header>
  <ion-toolbar mode=ios color="warning">
    <ion-title>Ctraba</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="settings()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app" *ngIf="ui.show">
    <div class="restaurants">
      <div class="title">
        <div class="text">
          <p>Start a Restaurant</p>
        </div>
        <div class="function">
          <ion-fab-button (click)=addRestaurant() color="success" size="small" class="b">
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
        </div>
      </div>
      <div class="all">
        <ion-list>
          <ion-item class="one" *ngFor="let restaurant of restaurants" (click)="goRestaurant(restaurant._id)">
            <ion-label>{{ restaurant.name }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="other">
      <div class="work" *ngIf="works.length >= 1">
        <div class="title">
          <p class="text">Work</p>
        </div>
        <ion-list>
          <ion-item *ngFor="let work of works" class="one" (click)="goWork(work._id)">
            <ion-label>{{ work.name }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="invitations" *ngIf="invitations.length >= 1">
        <div class="title">
          Invitations
        </div>
        <div class="self">
          <div *ngFor="let i of invitations" class="one">
            <div class="restaurant">
              <div class="name">
                {{ i.restaurant }}
              </div>
              <div class="role">
                Offers you a {{ i.role }} job
              </div>
            </div>
            <div class="info">
              <div class="sent">
                Sent: {{ i.joined }}
              </div>
              <div class="buttons">
                <button class="accept" (click)="invitation(i._id, 'accept')">Accept</button>
                <button class="reject" (click)="invitation(i._id, 'reject', i.restaurant)">Reject</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>