.app {
    .overview {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .buttons {
                button {
                    ion-icon {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .dishes { 
        .header {
            display: flex;
            align-items: center;
            ion-searchbar {
                width: 624px;
            }
            button {
                width: 36px;
                height: 36px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                ion-icon {
                    font-size: 22px;
                    position: absolute;
                }
            }
        }
        .list {
            .ex {
                color: var(--text-color);
                font-size: 18px;
            }
            div {
                display: grid;
                grid-template-columns: 50% 25% 25%;
                height: 52px;
                border-bottom: 1px solid var(--border-color);
                div {
                    display: flex;
                    align-items: center;
                    padding-left: 12px;
                }
                .bought {
                    color: var(--text-color);
                }
                .date {
                    color: var(--text-color);
                }
                .start {
                    flex-direction: column;
                    align-items: baseline;
                    justify-content: center;
                    p {
                        margin: 0;
                    }
                    .name {
                        font-size: 18px;
                        color: var(--title-color);
                    }
                    .price {
                        color: var(--text-color);
                    }
                }
            }
            .dish:hover {
                background-color: rgb(251, 251, 251);
                cursor: pointer;
            }
        }
    }
    .no-dishes {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loading {
        height: 124px;
        display: flex;
        align-items: center;
        justify-content: center;
        .spinner {
            width: 32px;
            height: 32px;
            border-top: 2px solid var(--border-color);
            border-radius: 100%;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }
}