.app {
    .title {
        padding-left: 32px;
        font-size: 20px;
        font-weight: 600;
        color: var(--title-color);
        p {
            margin: 0;
        }
    }
    .list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .no-orders {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: var(--gray);
    }
}