<ion-header>
  <ion-toolbar color="red">
    <ion-title>Fire {{ name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app">
    <div class="title">
      Be certain.
    </div>
    <div class="feedback">
      <div class="title">
        Leave a feedback for {{ name }}
      </div>
      <div class="stars">
        <ionic-rating-component activeIcon="star" defaultIcon="star-outline" activeColor="#FFC409"
          defaultColor="#3880FF" readonly="false" rating="3" fontSize="32px" (ratingChanged)="onRatingChange($event)">
        </ionic-rating-component>
      </div>
      <div class="text">
        <ion-item>
          <ion-label position="floating">Feedback</ion-label>
          <ion-textarea cols="15" rows="12" [(ngModel)]="text"></ion-textarea>
        </ion-item>
      </div>
    </div>
    <button class="success-button submit" (click)="submit()">
      Submit
    </button>
  </div>
</ion-content>
