.app {
    position: relative;
    height: 100%;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 550;
        padding-top: 6px;
    }
    .feedback {
        .title {
            font-size: 18px;
            display: inline-block;
            padding: 6px;
            color: var(--text-color);
        }
        .stars {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .submit {
        position: absolute;
        bottom: 6px;
        right: 12px;
    }
}