<div class="app">
  <div class="title">
    <div class="name">Staff</div>
    <div class="gap"></div>
    <div class="buttons">
      <div class="invitings">
        <button (click)="openInvitings()" id="invitings-button">
          <ion-icon name="mail-outline"></ion-icon>
          Invitations
        </button>
      </div>
      <div class="add">
        <button (click)="addUser()" id="add-button">
          <ion-icon name="add-outline"></ion-icon>
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="all-workers" *ngIf="restaurant && staff.length > 0">
      <div class="example">
        <div class="avatar">

        </div>
        <div class="name">
          Name
        </div>
        <div class="gap">

        </div>
        <div class="role">
          Role
        </div>
        <div class="joined">
          Joined
        </div>
        <div class="buttons">

        </div>
      </div>
      <app-worker *ngFor="let i of staff" (Emitter)="onWorkerEmit($event)" [data]="i"></app-worker>
    </div>
  </div>
</div>

<app-window *ngIf="windowType && restaurant" [restaurant]="restaurant._id" (Emitter)="onWindowEmited($event)" [type]="windowType"></app-window>
<app-invitings-window *ngIf="restaurant && invitingsWindow" [restaurant]="restaurant._id" (Emitter)="onInvitingsWindowEmit($event)"></app-invitings-window>