.app {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;

    .box {
        width: 512px;
        min-height: 124px;
        background-color: white;
        border-radius: 8px;

        .header {
            height: 38px;
            width: 100%;
            background-color: var(--orange);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            display: flex;
            justify-content: space-between;

            .title {
                display: flex;
                align-items: center;
                .text {
                    color: var(--black);
                    font-size: 18px;
                };
            }

            #close-table {
                width: 38px;
                height: 38px;
                background: none;
                ion-icon {
                    color: var(--black);
                    font-size: 24px;
                }
            }
            #away {
                padding-left: 6px;
                padding-right: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 38px;
                font-size: 18px;
                background: none;
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 24px;
            gap: 24px;

            .table {
                width: 100%;
                height: 82px;
                border-radius: 8px;
                background: none;
                border: 2px solid var(--border-color);
            }
        }

        
    }

}