<div class="app">
    <div class="box">
        <div class="header">
            <button id="close-table" (click)="leave.emit()">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="title">
                <span class="text title-font">
                    Select table
                </span>
            </div>
            <button id="away" class="button-font" (click)="takeAway()">Take away</button>
        </div>
        <div class="content">
            <button *ngFor="let i of tables" (click)="select(i.id)" class="table">
                {{ i.id }}
            </button>
        </div>
    </div>
</div>