.app {
    display: grid;
    grid-template-columns: 65% 35%;
    .left {
        .dish {
            display: flex;
            .image {
                img {
                    border-bottom-right-radius: 8px;
                    border-right: 2px solid var(--green);
                    border-bottom: 2px solid var(--green);
                    object-fit: cover;
                    &.r1 {
                        width: 186px;
                        height: 186px;
                    }
                    &.r2 {
                        width: 186px;
                        height: 140px;
                    }
                }
            }
            .info {
                padding: 12px;
                .name {
                    font-size: 18px;
                    color: var(--text-color);
                    border-bottom: 1px solid rgb(231, 231, 231);
                }
                .id {
                    margin-top: 8px;
                    font-size: 18px;
                }
                .time {
                    margin-top: 8px;
                }
                .cook {
                    margin-top: 8px;
                    display: flex;
                    align-items: center;
                    .name {
                        font-size: 16px;
                        border: none;
                        .dots {
                            font-size: 18px;
                        }
                    }
                    img {
                        border: 1px solid var(--orange);
                        margin-right: 8px;
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
    .right {
        .user {
            display: flex;
            align-items: center;
            margin-top: 12px;
            .name {
                font-size: 16px;
                color: var(--text-color);
                .dots {
                    font-size: 18px;
                }
            }
            img {
                margin-right: 8px;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                border: 1px solid var(--orange);
            }
        }
        .time {
            margin-top: 12px;
            &.red {
                color: var(--red);
            }
            &.orange {
                color: var(--orange);
            }
        }
        .order {
            margin-top: 8px;
            a {
                text-decoration: none;
                &:hover {
                    color: var(--orange);
                }
                ion-icon {
                    margin-left: 3px;
                }
            }
        }
    }
}