.app {
    width: 100%;
    margin-top: 12px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;

    .more {
        height: 36px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: var(--text-color);
    }
    
    .top {
        display: grid;
        height: 46px;
        grid-template-columns: 65% 17% 17%;
        cursor: pointer;
        &:hover {
            background-color: rgb(250, 250, 250);
        }
    
        .name {
            font-size: 18px;
            font-weight: 550;
            display: flex;
            align-items: center;
            padding-left: 16px;
        }
    
        .expand,.button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .button button {
            width: 36px;
            height: 36px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            border: 2px solid var(--orange);
            background: none;
            &:hover {
                background-color: var(--orange);
            }
        }
    
        .expand button {
            width: 36px;
            height: 36px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 26px;
            background: none;
            &:hover {
                color: var(--text-color);
            }
        }
    }
}