.app {

    .box {
        // padding: 42px;
        // width: 452px;
        // border: 1px solid var(--border-color);
        // border-radius: 8px;


        .header {
            padding-top: 36px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                margin: 0;
                font-size: 22px;
            }
            h2 {
                margin: 0;
                color: var(--text-color);
                font-size: 20px;
                font-weight: 500;
            }
        }
        .body {
            padding-top: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            
            #image-input {
                display: none;
            }

            label {
                width: 86px;
                height: 86px;
                
                img {
                    width: 86px;
                    height: 86px;
                    border-radius: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    filter: brightness(90%);
                    transition: .2s all;
                    &:hover {
                        filter: brightness(85%);
                    }
                }

                .no-brightness {
                    filter: brightness(100%);
                    border: 2px solid var(--orange);
                }
            }
        }
        .buttons {
            padding-top: 40px;
            margin-bottom: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            #skip {
                color: var(--gray);
                font-size: 17px;
                background: none;
            }
            #submit {
                background-color: var(--orange);
                width: 92px;
                height: 36px;
                border-radius: 8px;
                font-size: 17px;
                color: var(--black);
                &:hover {
                    background-color: #f5bd04;
                }
            }
        }
    }
}