<div class="app">
    <div class="header">
        <div class="title">
            <span class="text title-font">
                Orders
            </span>
        </div>
    </div>
    <div class="filters">
        <div class="buttons">
            <button class="filter date" [class.active]="!!ui.filters?.date" (click)="filters.date()">
                <ion-icon name="add"></ion-icon>
                <span class="text button-font">Date</span>
                <span class="filter-text button-font" *ngIf="ui.filters?.date">
                    {{ ui.filters.date }}
                </span>
            </button>
            <button class="filter amount" [class.active]="!!ui.filters?.amount" (click)="filters.amount()">
                <ion-icon name="add"></ion-icon>
                <span class="text button-font">Amount</span>
                <span class="filter-text button-font" *ngIf="ui.filters?.amount">
                    {{ ui.filters.amount }}
                </span>
            </button>
            <button class="filter dishes" [class.active]="!!ui.filters?.dishes" (click)="filters.dishes()">
                <ion-icon name="add"></ion-icon>
                <span class="text button-font">Dishes</span>
                <span class="filter-text button-font" *ngIf="ui.filters?.dishes">
                    {{ ui.filters.dishes }}
                </span>
            </button>
            <button class="filter status" [class.active]="!!ui.filters?.status" (click)="filters.status()">
                <ion-icon name="add"></ion-icon>
                <span class="text button-font">Status</span>
                <span class="filter-text button-font" *ngIf="ui.filters?.status">
                    {{ ui.filters.status }}
                </span>
            </button>
        </div>
        <div class="clear-filters">
            <button (click)="filters.clear()" [disabled]="!ui.filters.status && !ui.filters.amount && !ui.filters.date && !ui.filters.dishes">
                <ion-icon name="close"></ion-icon> <span class="text button-font">Clear filters</span>
            </button>
        </div>
    </div>
    <div *ngIf="orders && orders.length > 0" class="list">
        <div class="example">
            <div class="name">
                User name
            </div>
            <div class="dishes">
                Dishes
            </div>
            <div class="status-box">
    
            </div>
            <div class="total">
                Total
            </div>
            <div class="date">
                Date
            </div>
        </div>
        <div class="order" routerLink="/restaurant/{{ restaurantId }}/orders/full/{{ i._id }}" *ngFor="let i of orders">
            <div class="name">
                <span class="text text-font">
                    {{ i.user.name || i.user.username }}
                    <span class="staff" *ngIf="i.by == 'staff'">
                        (staff)
                    </span>
                </span>
                <div class="bottom">
                    <span class="total">
                        ${{i.total / 100}}
                    </span>
                    <span class="dot">
                        &#8226;
                    </span>
                    <span class="count">
                        {{ i.dishes }}
                    </span>
                </div>
            </div>
            <div class="dishes">
                <span class="count">
                    {{ i.dishes }}
                </span>
            </div>
            <div class="status-box">
                <div class="status status-badge-{{i.statusColor}}">
                    {{i.status}}
                </div>
            </div>
            <div class="total">
                <span class="text text-font">
                    ${{i.total / 100}}
                </span>
            </div>
            <div class="date">
                <span class="text text-font">
                    {{ i.date }}
                </span>
            </div>
        </div>
    </div>

    <div class="nav" *ngIf="orders && orders.length > 0">
        <div class="count">
            {{ orders.length }} results
        </div>
        <div class="buttons">
            <button (click)="prev()" [disabled]="ui.disablePrev" class="white-button">
                Previous
            </button>
            <button (click)="next()" [disabled]="ui.disableNext" class="white-button">
                Next
            </button>
        </div>
    </div>

    <div *ngIf="orders && orders.length == 0" class="no-orders title-font">
        <span class="text">No orders yet</span>
    </div>
    <div *ngIf="!orders" class="loading">
        <span class="spinner"></span>
    </div>
</div>


<ng-container #dateContainer></ng-container>