<div class="app">
  <div class="title" *ngIf="restaurant">
    {{ restaurant.name }} components
  </div>
  <div *ngIf="ui.showWarning" class="warning">
    <div class="title">
      Warning
    </div>
    <div class="components">
      <div *ngFor="let i of warning" (click)="go(i._id)" class="component">
        <div class="name">
          {{ i.name }}
        </div>
        <div class="amount">
          Amount: {{ i.amount }}
        </div>
        <div class="date">
          Last update: {{ i.date }}
        </div>
      </div>
    </div>
  </div>
</div>