.app {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        .back {
            display: flex;
            align-items: center;
            padding-left: 12px;
    
            button {
                display: flex;
                align-items: center;
                background: none;
    
                .text {
                    color: var(--title-color);
                    font-size: 18px;
                }
                ion-icon {
                    font-size: 22px;
                }
            }
        }


    }
    .user {
        display: flex;
        height: 64px;
        width: 100%;
        padding: 8px 0;
        border-bottom: 1px solid var(--border-color);
        .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 42px;
                height: 42px;
                border-radius: 100%;
            }
        }
        .name-email {
            margin-left: 12px;
            .name {
                font-size: 18px;
                color: var(--black);
            }
            .email {
                color: var(--text-color);
            }
        }
    }
    .worker {
        display: flex;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 52px;
            width: 124px;
            color: var(--text-color);
        }
        .title {
            width: 156px;
        }
        .role {
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
        }
    }
    .cook {
        margin-top: 24px;
        .title {
            font-size: 20px;
        }
        .content {
            .dishes {
                height: 32px;
                border-bottom: 1px solid var(--border-color);
                display: flex;
                align-items: center;
                color: var(--text-color);
                span {
                    color: var(--black);
                    margin-left: 6px;
                }
            }
            .fav {
                height: 32px;
                display: flex;
                align-items: center;
                color: var(--text-color);
                span {
                    color: var(--black);
                    margin-left: 6px;
                }
            }
        }
    }
    .waiter {
        margin-top: 24px;
        .title {
            font-size: 20px;
        }
        .content {
            .dishes {
                height: 32px;
                border-bottom: 1px solid var(--border-color);
                display: flex;
                align-items: center;
                color: var(--text-color);
                span {
                    color: var(--black);
                    margin-left: 6px;
                }
            }
        }
    }
}