<ion-content>
    <div class="app">
        <div *ngIf="data?.orders?.length == 0" class="no-orders">
            <span class="text">
                You have not ordered with Strava yet
            </span>
            <ion-icon name="flower-outline"></ion-icon>
        </div>

        <div *ngIf="data?.orders as orders" class="list">
            <div *ngFor="let i of orders" class="order">
                <div class="top">
                    <div class="restaurant">
                        {{ i.restaurant.name }}
                    </div>
                    <div class="date">
                        {{ i.order.date }}
                    </div>
                    <div class="status"
                        [class.status-badge-green]="i.order.status == 'done'"
                        [class.status-badge-red]="i.order.status == 'removed'"
                        [class.status-badge-orange]="i.order.status == 'done:removed'">
                        {{ i.order.status }}
                    </div>
                </div>
                <div class="info">
                    <div class="type">
                        <span class="title">
                            {{ i.order.type }}
                        </span>
                        <span class="id">
                            #{{ i.order.id }}
                        </span>
                    </div>
                    <div class="dishes">
                        Dishes ordered: <span class="count">{{ i.order.dishes }}</span>
                    </div>
                </div>
                <div class="money">
                    <div class="subtotal">
                        <div class="title">
                            Subtotal
                        </div>
                        <div class="border"></div>
                        <div class="amount">
                            ${{ i.order.money.subtotal / 100 }}
                        </div>
                    </div>
                    <div class="hst">
                        <div class="title">
                            HST
                        </div>
                        <div class="border"></div>
                        <div class="amount">
                            ${{ i.order.money.hst / 100 }}
                        </div>
                    </div>
                    <div class="total">
                        <div class="title">
                            Total
                        </div>
                        <div class="border"></div>
                        <div class="amount">
                            ${{ i.order.money.total / 100 }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
