.app {
    padding-bottom: 200px;

    .header {
        margin-top: 12px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .back {
            display: flex;
            align-items: center;
            padding-left: 12px;
            p {
                font-size: 18px;
                color: var(--title-color);
                cursor: pointer;
                display: flex;
                align-items: center;
                ion-icon {
                    font-size: 22px;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                padding: 6px 16px;
            }
        }
    }
    .dish {
        display: flex;
        border-bottom: 1px solid var(--border-color);
        
        .image {
            padding-right: 12px;
            padding-bottom: 12px;
            border-right: 1px solid var(--border-color);

            img {
                border-radius: 8px;
                border: 2px solid var(--orange);
            }
            .r1 {
                width: 248px;
                height: 248px;
            }
            .r2 {
                width: 324px;
                aspect-ratio: 4 / 3;
            }
            .r3 {
                width: 324px;
                aspect-ratio: 16 / 9;
            }
            .info {
                padding: 0 4px;
                display: flex;
                align-items: center;
                gap: 6px;

                span {
                    font-size: 12px;
                    color: var(--gray);
                }
            }
        }
        .details {
            padding: 12px;

            .name {
                font-size: 18px;
                font-weight: 550;
                color: var(--title-color);
            }
            .price,.time,.description {
                color: var(--text-color);
            }
            .description {
                margin-top: 6px;
                span.text {
                    font-size: 14px;
                }
            }
        }
    }

    .loading {
        height: 124px;
        display: flex;
        align-items: center;
        justify-content: center;
        .spinner {
            width: 32px;
            height: 32px;
            border-top: 2px solid var(--border-color);
            border-radius: 100%;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }
}


@media screen and (max-width: 700px) {
    .app {
        .dish {
            .image {
                img {
                    border-radius: 8px;
                    border: 2px solid var(--orange);
                }
                .r1 {
                    width: 124px;
                    height: 124px;
                }
                .r2 {
                    width: 152px;
                    aspect-ratio: 4 / 3;
                }
                .r3 {
                    width: 152px;
                    aspect-ratio: 16 / 9;
                }
            }
            .info {
                .date {
                    display: none;
                }
                span:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}