<div class="app" *ngIf="dish">
    <div class="header">
        <div class="back">
            <p (click)="back()"><ion-icon name="arrow-back"></ion-icon> BACK</p>
        </div>
        <div class="gap">

        </div>
        <div class="buttons">
            <button (click)="edit()" class="orange-button">Edit</button>
            <button (click)="remove()" class="red-button">Delete</button>
        </div>
    </div>
    <div class="dish">
        <div class="image">
            <img [src]="image" [class]="imageClass" alt="">
        </div>
        <div class="details">
            <div class="name">
                {{ dish.name }}
            </div>
            <div class="price">
                ${{ dish.price / 100 }}
            </div>
            <div class="time">
                <span *ngIf="dish.info.time">
                    {{ dish.info.time }} min.
                </span>
                <span *ngIf="!dish.info.time">
                    <button class="only-text-button" (click)="edit()">Add time</button>
                </span>
            </div>
            <div class="description">
                <span class="margin" *ngIf="dish.description">
                    {{ dish.description }}
                </span>
                <span *ngIf="!dish.description">
                    <button class="only-text-button">Add description</button>
                </span>
            </div>
        </div>
    </div>
    <div class="bought">

    </div>
</div>