.app {
    padding-bottom: 200px;

    .header {
        margin-top: 12px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .back {
            display: flex;
            align-items: center;
            padding-left: 12px;
            p {
                font-size: 18px;
                color: var(--title-color);
                cursor: pointer;
                display: flex;
                align-items: center;
                ion-icon {
                    font-size: 22px;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                padding: 6px 16px;
            }
        }
    }
    .dish {
        display: flex;
        border-bottom: 1px solid var(--border-color);
        
        .image {
            padding-right: 12px;
            padding-bottom: 12px;
            border-right: 1px solid var(--border-color);

            img {
                border-radius: 8px;
                border: 2px solid var(--orange);
            }
            .r1 {
                min-width: 248px;
                height: 248px;
            }
            .r2 {
                min-width: 324px;
                height: 243px;
            }
            .r3 {
                min-width: 324px;
                height: 183px;
            }
        }
        .details {
            padding: 12px;

            .name {
                font-size: 18px;
                font-weight: 550;
                color: var(--title-color);
            }
            .price,.time,.description {
                color: var(--text-color);
            }
            .description {
                margin-top: 6px;
                span.text {
                    font-size: 14px;
                }
            }
        }
    }
    
}


@media screen and (max-width: 700px) {
    .app {
        .dish {
            .image {
                img {
                    border-radius: 8px;
                    border: 2px solid var(--orange);
                }
                .r1 {
                    min-width: 124px;
                    height: 124px;
                }
                .r2 {
                    min-width: 152px;
                    aspect-ratio: 4 / 3;
                }
                .r3 {
                    min-width: 152px;
                    aspect-ratio: 16 / 9;
                }
            }
        }
    }
}