.app {
    width: 324px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: white;
    .image {
        display: flex;
        justify-content: center;
        position: relative;
        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 324px;
            object-fit: cover;
            &.r1 {
                width: 278px;
                height: 278px;
                border-radius: 0;
            }
            &.r2 {
                height: 244px;
            }
            &.r3 {
                height: 183px;
            }
        }
        .time {
            position: absolute;
            bottom: 0;
            right: 4px;
            width: 56px;
            font-size: 14px;
            background-color: rgba(255, 255, 255, 0.7);
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            height: 18px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .category {
            position: absolute;
            bottom: 0;
            color: black;
            right: 72px;
            background-color: rgba(255, 255, 255, 0.7);
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            width: auto;
            height: 18px;
            padding: 0 4px;
        }
    }
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        padding: 0 12px;
        .name {
            font-size: 18px;
        }
        .price {
            color: var(--text-color);
            font-size: 18px;
        }
    }
}