<div class="app">
    <div class="image" *ngIf="image">
        <img [src]="image" alt="">
    </div>
    <div class="name-time">
        <div class="name">
            <span class="text title-font">
                {{ name }}
            </span>
        </div>
        <div class="time" *ngIf="dish?.time">
            {{ dish?.time }}m.
        </div>
        <div *ngIf="!dish?.time" class="no-time time">

        </div>
    </div>
    <div class="delay {{ orderDish.time?.color }}">
        <span *ngIf="orderDish.time && orderDish.time.hours" class="hours">
            {{ orderDish.time.hours }} hrs.
        </span>
        <span class="minutes">
            {{ orderDish.time?.minutes }} m.
        </span>
    </div>
</div>