.app {
    margin-left: 15px;
    height: 70px;
    .image {
        display: flex;
        justify-content: center;
        height: 50px;
        width: 50px;
        img {
            object-fit: cover;
            height: 50px;
            width: 50px;
        }
    }
    .title {
        text-align: center;
        width: 50px;
        margin-top: 7;
        height: 16px;
    }
}