<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>{{name}} capabilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app">
    <div class="settings manager-settings">
      <div class="block">
        <div class="title">Can work</div>
        <div class="body">
          <div class="option">
            <div class="label">Cook</div>
            <div class="button">
              <ion-toggle color="orange" [checked]="settings.work.cook" (ionChange)="setSetting('work', 'cook')" mode="ios"></ion-toggle>
            </div>
          </div>
          <div class="option">
            <div class="label">Waiter</div>
            <div class="button">
              <ion-toggle color="red" [checked]="settings.work.waiter" (ionChange)="setSetting('work', 'waiter')" mode="ios"></ion-toggle>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="title">People</div>
        <div class="body">
          <div class="sub-block">
            <div class="title">Staff</div>
            <div class="body">
              <div class="option">
                <div class="label">Hiring</div>
                <div class="button">
                  <ion-toggle color="purple" [checked]="settings.staff.hire" (ionChange)="setSetting('staff', 'hire')" mode="ios"></ion-toggle>
                </div>
              </div>
              <div class="option">
                <div class="label">Firing</div>
                <div class="button">
                  <ion-toggle color="orange" [checked]="settings.staff.fire" (ionChange)="setSetting('staff', 'fire')" mode="ios"></ion-toggle>
                </div>
              </div>
              <div class="option">
                <div class="label">Settings</div>
                <div class="button">
                  <ion-toggle color="red" [checked]="settings.staff.settings" (ionChange)="setSetting('staff', 'settings')" mode="ios"></ion-toggle>
                </div>
              </div>
              <div class="option">
                <div class="label">Statistics</div>
                <div class="button">
                  <ion-toggle color="orange" [checked]="settings.staff.statistics" (ionChange)="setSetting('staff', 'statistics')" mode="ios"></ion-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-block">
            <div class="title">Customers</div>
            <div class="body">
              <div class="option">
                <div class="label">Blacklisting</div>
                <div class="button">
                  <ion-toggle color="purple" [checked]="settings.customers.blacklisting" (ionChange)="setSetting('customers', 'blacklisting')" mode="ios"></ion-toggle>
                </div>
              </div>
              <div class="option">
                <div class="label">Statistics</div>
                <div class="button">
                  <ion-toggle color="red" [checked]="settings.customers.statistics" (ionChange)="setSetting('customers', 'statistics')" mode="ios"></ion-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="title">Components management</div>
        <div class="body">
          <div class="option">
            <div class="label">Adding & Updating</div>
            <div class="button">
              <ion-toggle color="purple" [checked]="settings.components.add" (ionChange)="setSetting('components', 'add')" mode="ios"></ion-toggle>
            </div>
          </div>
          <div class="option">
            <div class="label">Removing</div>
            <div class="button">
              <ion-toggle color="orange" [checked]="settings.components.remove" (ionChange)="setSetting('components', 'remove')" mode="ios"></ion-toggle>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="title">Dishes</div>
        <div class="body">
          <div class="option">
            <div class="label">Adding & Editing</div>
            <div class="button">
              <ion-toggle color="purple" [checked]="settings.dishes.add" (ionChange)="setSetting('dishes', 'add')" mode="ios"></ion-toggle>
            </div>
          </div>
          <div class="option">
            <div class="label">Removing</div>
            <div class="button">
              <ion-toggle color="orange" [checked]="settings.dishes.remove" (ionChange)="setSetting('dishes', 'remove')" mode="ios"></ion-toggle>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="title">Restaurant Settings</div>
        <div class="body">
          <div class="option">
            <div class="label">Theme</div>
            <div class="button">
              <ion-toggle color="purple" [checked]="settings.restaurant.theme" (ionChange)="setSetting('restaurant', 'theme')" mode="ios"></ion-toggle>
            </div>
          </div>
          <div class="option">
            <div class="label">Logo</div>
            <div class="button">
              <ion-toggle color="red" [checked]="settings.restaurant.logo" (ionChange)="setSetting('restaurant', 'logo')" mode="ios"></ion-toggle>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
