<ion-content>
  <div class="app a-page-with-box">
    <div class="box">
      <div class="header">
        <h1 id="title">
          Ctraba
        </h1>
        <h2 id="subtitle">Your name</h2>
      </div>
      <div class="body">
        <input [(ngModel)]="name" (keydown.ENTER)="submit()" (focusout)="checkName()" id="name" [ngClass]="{ 'red': ui.redMessage.length > 0 }" type="text" placeholder="Name">
        <div class="message-red message" *ngIf="ui.redMessage.length > 0">
          {{ ui.redMessage }}
        </div>
        <div class="message">
          {{ ui.message }}
        </div>
      </div>
      <div class="buttons">
        <button id="skip" (click)="skip()">
          {{ ui.backButtonTitle }}
        </button>
        <button [disabled]="ui.disableButton" id="submit" (click)="submit()">
          {{ ui.buttonTitle }}
        </button>
      </div>
    </div>
    <div class="footer" *ngIf="type == '1'">
      <div class="language" id="language">
        <p id="language-title">English (Canada)</p>
        <div class="icon">
          <ion-icon name="caret-down-outline"></ion-icon>
        </div>
      </div>
      <div class="links">
        <div class="link">
          <a href="">Main</a>
        </div>
        <div class="link">
          <a href="">Help</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>