.app {
    .order {
        margin-top: 24px;
        .title {
            display: flex;
            align-items: flex-end;
            padding-left: 24px;
            border-bottom: 1px solid var(--border-color);
            height: 32px;
            span {
                font-size: 20px;
                font-weight: 550;
                color: var(--title-color);
            }
            .number {
                font-size: 16px;
                margin-left: 8px;
                font-weight: 500;
            }
        }
        .dishes {
            padding: 16px;
            .list {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 18px;
            }
        }
    }
}