<div class="app">
    <div class="customers">
        <button class="orange-button" (click)="customers()">Customers</button>
    </div>
    <div *ngIf="orders && orders.length > 0" class="list">
        <div class="example">
            <div class="avatar">

            </div>
            <div class="name">
                User name
            </div>
            <div class="dishes">
                Dishes
            </div>
            <div class="status-box">

            </div>
            <div class="total">
                Total
            </div>
        </div>
        <div class="order" (click)="fullOrder(i._id)" *ngFor="let i of orders">
            <div class="avatar">
                <img [src]="i.avatar">
            </div>
            <div class="name">
                <span>
                    {{ i.user.name || i.user.username }}
                </span>
            </div>
            <div class="dishes">
                <span class="count">{{ i.dishes }}</span>
            </div>
            <div class="status-box">
                <div class="status status-badge-{{i.statusColor}}">
                    {{i.status}}
                </div>
            </div>
            <div class="total">
                ${{i.total / 100}}
            </div>
        </div>
    </div>
    <div *ngIf="orders && orders.length == 0" class="no-orders title-font">
        <span class="text">No orders yet</span>
    </div>
    <div *ngIf="!orders" class="loading">
        <span class="spinner"></span>
    </div>
</div>