.app {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search {
            width: 512px;
            display: flex;
            align-items: center;
            button {
                height: 42px;
                width: 42px;
                margin: 0;
            }
        }
    }
    .customers {
        display: flex;
        justify-content: center;
    }
    .list {
        .example {
            display: grid;
            grid-template-columns: 30% 17% 17% 17% 19%;
            height: 46px;
            border-bottom: 1px solid var(--border-color);
            div {
                display: flex;
                align-items: center;
                color: var(--text-color);
            }
            .total {
                justify-content: center;
            }
        }
        .order {
            height: 52px;
            width: 100%;
            display: grid;
            grid-template-columns: 30% 17% 17% 17% 19%;
            border-bottom: 1px solid var(--border-color);
            cursor: pointer;
            &:hover {
                background-color: rgb(252, 252, 252);
            }
            .name {
                display: flex;
                align-items: center;
                padding-left: 4px;

                .text {
                    color: var(--black);
                    font-size: 18px;
                }
            }
            .dishes {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: var(--text-color);
            }
            .status-box {
                display: flex;
                justify-content: center;
                align-items: center;
                .status {
                    width: 108px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 22px;
                    border-radius: 6px;
                }
            }
            .total {
                display: flex;
                justify-content: center;
                align-items: center;
                .text {
                    color: var(--text-color);
                }
            }
            .date {
                display: flex;
                align-items: center;
                justify-content: center;
                .text {
                    color: var(--black);
                }
            }
        }
    }
    .no-orders {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 64px;

        .text {
            color: var(--text-color);
            font-size: 18px;
        }
    }
    .loading {
        width: 100%;
        height: 124px;
        display: flex;
        align-items: center;
        justify-content: center;
        .spinner {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border-top: 2px solid var(--border-color);
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }
}


@media screen and (max-width: 800px) {
    .app .list .order {
        grid-template-columns: 30% 23% 23% 23%;
        .dishes {
            display: none !important;
        }
    }
    .app .list .example {
        grid-template-columns: 30% 23% 23% 23%;
        .dishes {
            display: none !important;
        }
    }
}