<div class="app">
    <div class="box">
        <div class="header">
            <button id="close-modal" (click)="leave.emit()">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="title">
                <span class="text title-font">
                    {{ name }}
                </span>
            </div>
            <button id="open" class="button-font" (click)="open()">
                Open dish
            </button>
        </div>
        <div class="content">
            <div class="list">
                <div *ngFor="let i of orderDishes" class="dish">
                    <div class="comment">
                        <span class="text" (click)="addComment(i._id)" *ngIf="i.comment && i.comment.length > 0">
                            {{ i.comment }}
                        </span>
                        <button *ngIf="!i.comment" (click)="addComment(i._id)" class="button-font">Add comment</button>
                    </div>
                    <div class="button">
                        <button class="red-button" (click)="remove(i._id)">
                            <ion-icon name="remove"></ion-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-container #commentModalContainer></ng-container>