<div class="app {{ orderDish.time.color }}">
  <div class="image">
    <img [src]="image" alt="">
  </div>
  <div class="name">
    {{ dish.name }}
  </div>
  <div class="bottom">
    <div class="id">
      {{ id }}
    </div>
    <div class="time">
      Delay:
      <span class="hours">
        <span class="count">
          {{ orderDish.time.hours }}
        </span>
        hrs.
      </span>
      <span class="minutes">
        <span class="count">
          {{ orderDish.time.minutes }}
        </span>
        min.
      </span>
    </div>
  </div>
</div>