@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


.title-font {
    font-family: 'Source Sans Pro', sans-serif;
}

.status-badge-green {
    background-color: var(--green-back);
    color: var(--green-dark);

    ion-icon {
        font-size: 18px;
    }
}

.status-badge-red {
    background-color: var(--red-back);
    color: var(--red-dark);

    ion-icon {
        font-size: 18px;
    }
}

.status-badge-orange {
    background-color: var(--orange-back);
    color: var(--orange-dark);

    ion-icon {
        font-size: 18px;
    }
}

.status-badge-gray {
    background-color: var(--gray-back);
    color: var(--gray-dark);

    ion-icon {
        font-size: 18px;
    }
}

.status-badge-purple {
    background-color: var(--purple-back);
    color: var(--purple-dark);

    ion-icon {
        font-size: 18px;
    }
}

input, select {
    background-color: white;
    &:-webkit-autofill, &.-internal-autofill-selected {
        // !!!WARNING!!!
        // the only solution i found
        // without it if input value is selected from recomended the input background will change its color
        // this thing below just makes changing color very long
        // after 600000 seconds color will change anyway, it's a bad solution.
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}


ion-icon {
    pointer-events: none;
}





ion-loading.loading {
    --background: none;
    --spinner-color: rgb(65, 65, 65);
    --backdrop-opacity: 0.08;

    ion-spinner {
        transform: scale(1.25);
    }
}


.alert-red-button {
    color: var(--red) !important;
}

.blue-button {
    width: 120px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 6px;
    border-radius: 8px;
    background-color: var(--blue);
    color: white;

    &:disabled {
        background-color: blue;
        color: var(--light-gray);
    }
}

.dark-link {
    color: rgb(36, 34, 34);
    font-weight: 600;
    font-size: 14px;
}


.popover-324 {
    --width: 324px;
}






input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}



.a-page-with-box {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 196px;

    .box {
        padding: 42px;
        width: 452px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        height: auto;
        
        .error-message {
            color: var(--red);
            text-align: center;
            margin-top: 12px;
            font-size: 14px;
        }
    }

    .footer {
        padding: 0 4px;
        padding-top: 16px;
        width: 452px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .language {
            width: 124px;
            display: flex;
            align-items: center;

            #language-title {
                margin: 0;
                font-size: 12px;
                color: var(--text-color);
            }

            .icon {
                margin-left: 6px;
                color: var(--text-color);
                font-size: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .links {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .link {
                margin-left: 42px;

                a {
                    text-decoration: none;
                    font-size: 13px;
                    color: var(--text-color);
                }
            }
        }
    }
}


@media screen and (max-width: 460px) {
    .a-page-with-box {
        padding-top: 120px;
        margin-bottom: 164px;

        .box {
            width: 99vw;
            padding: 12px;
            border: none;
        }

        .footer {
            width: 95vw;
        }
    }
}

.modal-width {
    
}

@media screen and (min-width: 624px) {
    .modal-width {
        --width: 624px;

        .modal-wrapper {
            --width: 624px;
        }
    }
}
@media (max-width: 600) {
    .orange-button {
        font-size: 15px;
    }
}