.the-header-with-close-icon {
    padding: 0 412px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: white;
    border-bottom: 1px solid var(--border-color);
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .text {
            font-size: 20px;
            color: var(--title-color);
            font-weight: 550;
            margin-left: 12px;
        }
        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                width: 40px;
                height: 40px;
                border: none;
                ion-icon {
                    font-size: 32px;
                    position: absolute;
                }
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}




@media (min-width: 1500px) and (max-width: 1900px) {
    
}
@media (min-width: 1150px) and (max-width: 1499px) {
    .the-header-with-close-icon {
        padding: 0 256px;
    }
}
@media (min-width: 700px) and (max-width: 1149px) {
    .the-header-with-close-icon {
        padding: 0 108px;
    }
}
@media (min-width: 550px) and (max-width: 699px) {
    .the-header-with-close-icon {
        padding: 0 48px;
    }
}
@media (min-width: 300px) and (max-width: 549px) {
    .the-header-with-close-icon {
        padding: 0 8px;
        .title .text {
            font-size: 18px;
        }
    }
}
@media (min-width: 200px) and (max-width: 450px) {

}