<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Fire {{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app">
    <div class="title">
      Write a feedback
    </div>
    <div class="stars">
      <ionic-rating-component activeIcon="star" defaultIcon="star-outline" activeColor="#ffc409" defaultColor="#488aff"
        readonly="false" [rating]="0" fontSize="24px" (ratingChanged)="onRatingChange($event)">
      </ionic-rating-component>
    </div>
    <div class="text">
      <ion-item>
        <ion-label position="floating">Feedback</ion-label>
        <ion-textarea cols="30" rows="7" [(ngModel)]="text"></ion-textarea>
      </ion-item>
    </div>
    <button class="red-button" (click)="submit()">Submit</button>
  </div>
</ion-content>