<ion-header>
  <ion-toolbar [color]="theme">
    <ion-buttons slot="start">
        <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Your order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="app">
        <div *ngFor="let i of orders" class="order">
            <div class="title">
                <span class="title">
                    <span class="text title-font">
                        {{ i.type }}
                    </span>
                </span>
                <span class="number">
                    #{{ i.id }}
                </span>
            </div>
            <div class="dishes">
                <div class="list">
                    <app-dish *ngFor="let dish of i.dishes" [dish]="dishes[dish.dishId]" [orderDish]="dish"></app-dish>
                </div>
            </div>
        </div>
    </div>
</ion-content>
