.app {
    .order {
        margin-top: 24px;
        .title {
            display: flex;
            align-items: center;
            padding-left: 24px;
            border-bottom: 1px solid var(--border-color);
            height: 32px;
            span {
                font-size: 20px;
                font-weight: 550;
                color: var(--title-color);
            }
            .number {
                font-size: 16px;
                margin-left: 8px;
                font-weight: 500;
            }
        }
        .dishes {
            padding: 16px;
            .list {
                .dish {
                    margin-top: 24px;
                    background-color: white;
                    width: 100%;
                    border: 1px solid var(--border-color);
                    border-radius: 8px;
                    &:first-of-type {
                        margin-top: 0;
                    }
                    .image {
                        img {
                            height: 203px;
                            width: 100%;
                            object-fit: cover;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                        }
                    }
                    .bottom {
                        padding: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .name {
                            font-size: 18px;
                            color: var(--title-color);
                        }
                        .status {
                            padding: 6px 8px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}