<div class="app">
    <div class="header">
        <div class="title">
            <span class="text title-font">
                Customers
            </span>
        </div>
    </div>
    <div class="filters">
        <div class="buttons">
            <button class="filter date">
                <ion-icon name="add"></ion-icon> <span class="text button-font">Date</span>
            </button>
            <button class="filter amount">
                <ion-icon name="add"></ion-icon> <span class="text button-font">Amount</span>
            </button>
            <button class="filter dishes">
                <ion-icon name="add"></ion-icon> <span class="text button-font">Dishes</span>
            </button>
            <button class="filter status">
                <ion-icon name="add"></ion-icon> <span class="text button-font">Status</span>
            </button>
        </div>
    </div>
    <div class="no-customers" *ngIf="customers && customers.length == 0">
        <span class="text">
            No customers visited your restaurant yet
        </span>
        <ion-icon name="accessibility"></ion-icon>
    </div>
    <div *ngIf="customers && customers.length > 0" class="customers">
        <div class="list">
            <div class="example">
                <div class="avatar"></div>
                <div class="name">Name</div>
                <div class="orders">Orders</div>
                <div class="total">Spent</div>
                <div class="last-visit">Last ordered</div>
            </div>
            <div *ngFor="let i of customers" (click)="fullCustomer(i._id)" class="customer">
                <div class="avatar">
                    <img [src]="i.avatar" alt="">
                </div>
                <div class="name">
                    <span class="text title-font">{{ i.name }}</span>
                </div>
                <div class="orders">
                    <span class="text text-font">
                        {{ i.orders }}
                    </span>
                </div>
                <div class="total">
                    <span class="text text-font">
                        ${{ i.total / 100 }}
                    </span>
                </div>
                <div class="last-visit">
                    <span class="text text-font">
                        {{ i.lastOrdered }}
                    </span>
                </div>
            </div>
        </div>
    </div>


















    <!-- <div *ngIf="ui.showQrCodes" class="qr-codes">
    <div class="top">
        <div class="title">
            QR codes
        </div>
        <div class="buttons">
            <button (click)="removeTable()" id="remove">
                <ion-icon name="remove"></ion-icon>
            </button>
            <button (click)="addTable()" id="add">
                <ion-icon name="add"></ion-icon>
            </button>
        </div>
    </div>
    <div class="list" *ngIf="qrCodes && qrCodes.length > 0">
        <div *ngFor="let i of qrCodes" class="table">
            <div class="title">
                {{i.table}}
            </div>
            <div class="image">
                <span title="Download QR code">
                    <a [href]="i.downloadUrl" download="{{ restaurantName }}-qrcode-for-table-{{ i.table }}">
                        <qrcode (qrCodeURL)="onChangeURL($event, i.table - 1)" [qrdata]="i.link" [width]="154"
                            [errorCorrectionLevel]="'M'"></qrcode>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div> -->