.app {
    .header {
        margin-top: 12px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color);

        .title {
            .text {
                color: var(--black);
                font-size: 20px;
            }
        }
    }

    .filters {
        display: flex;
        align-items: center;
        height: 52px;
        border-bottom: 1px solid var(--border-color);

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            .filter {
                background: none;
                border: 2px dotted var(--border-color);
                height: 26px;
                border-radius: 24px;
                display: flex;
                align-items: center;
                font-size: 14px;
                padding: 10px 8px;
                
                .text {
                    margin-left: 6px;
                }
                ion-icon {
                    font-size: 16px;
                }
                &:hover {
                    background-color: rgb(250, 250, 250);
                }
            }
        }
    }


    .no-customers {
        margin-top: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50%;
        .text, ion-icon {
            color: var(--text-color);
        }
        ion-icon {
            font-size: 28px;
            margin-top: 12px;
        }
    }
    .customers {
        .top {
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            // border-bottom: 1px solid var(--border-color);
            .title {
                font-size: 20px;
            }
            .buttons {
                display: flex;
                align-items: center;
                .last-update {
                    color: var(--text-color);
                    font-size: 14px;
                }
                button {
                    margin-left: 12px;
                }
            }
        }
        .list {
            .example {
                display: grid;
                grid-template-columns: 10% 25% 20% 25% 20%;
                height: 42px;
                border-bottom: 1px solid var(--border-color);
                div {
                    font-size: 18px;
                    color: var(--text-color);
                    display: flex;
                    align-items: center;
                }
            }
            .customer {
                display: grid;
                grid-template-columns: 10% 25% 20% 25% 20%;
                height: 52px;
                border-bottom: 1px solid var(--border-color);
                cursor: pointer;
                &:hover {
                    background-color: rgb(247, 247, 247);
                }
                .avatar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                    }
                }
                .name,.orders,.last-visit,.total {
                    font-size: 18px;
                    color: var(--text-color);
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .app {
        .customers {
            .list {
                .example {
                    grid-template-columns: 30% 20% 25% 25%;
                    .name,.orders,.last-visit,.total {
                        font-size: 16px;
                    }
                    .avatar {
                        display: none;
                    }
                }
                .customer {
                    grid-template-columns: 30% 20% 25% 25%;
                    .avatar {
                        display: none;
                    }
                }
            }
        }
    }
}