.t1 {
    color: rgb(255, 0, 234);
}
.t2 {
    color: #A6673C;
}
.t3 {
    color: rgb(255, 157, 0);
}
.t4 {
    color: rgb(185, 0, 0);
}
.t5 {
    color: brown;
}
.t6 {
    color: rgb(51, 255, 0);
}
.t7 {
    color: rgb(251, 46, 46);
}
.t8 {
    color: rgb(0, 179, 0);
}
ion-icon {
    pointer-events: none;
}