.nav {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 50px;
    .logo {
        display: flex;
        align-items: center;
        h1 {
            margin: 0;
            margin-left: 32rem;
        }
    }
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                color: black;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.app {
    width: 100%;
    min-height: 100vh;
    .body {
        height: 100vh;
        width: 100%;
    }
    .footer {
        border-top: 2px solid #ffc409;
        height: 180px;
        width: 100%;
        background-color: #333333;
        color: rgb(184, 184, 184);
        display: grid;
        padding-left: 100px;
        padding-right: 100px;
        grid-template-columns: 40% 60%;
        .title {
            .self {
                font-size: 24px;
            }
        }
        .links {
            padding-top: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .t {
                font-size: 20px;
                margin: 8px;
            }
            .o-links {
                .link {
                    color: rgb(184, 184, 184);
                    display: flex;
                    flex-direction: column;
                    margin: 15px 15px;
                    text-decoration: none;
                    transition: all .5s ease-in;
                    &:hover {
                        color: #ffc409;
                    }
                }
            }
        }
    }
}