<ion-header class='h'>
  <ion-toolbar>
    <div class="nav">
      <div class="logo">
        <h1>
          Ctraba
        </h1>
      </div>
      <div class="links">
        <div class="link">
          <a routerLink="/user-create">Get Started</a>
        </div>
        <div class="link">
          <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="app">
    <div class="body">
      
    </div>
    <div class="footer">
      <div class="title">
        <p class="self">Ctraba</p>
      </div>
      <div class="links">
        <div class="one">
          <div class="t">Company</div>
          <div class="o-links">
            <a routerLink="/about" class="link">About</a>
            <a routerLink="/blog" class="link">Blog</a>
            <a routerLink="/help" class="link">Help</a>
          </div>
        </div>
        <div class="one">
          <div class="t">Product</div>
          <div class="o-links">
            <a routerLink="" class="link">Hello</a>
            <a routerLink="" class="link">:)</a>
            <a routerLink="" class="link"></a>
          </div>
        </div>
        <div class="one">
          <div class="t">Legal</div>
          <div class="o-links">
            <a routerLink="" class="link">Privacy Policy</a>
            <a routerLink="" class="link">Terms Of Service</a>
          </div>
        </div>
      </div>
    </div>    
  </div>
</ion-content>