<div class="app">
  <div *ngIf="data && data.nextUrl" class="info-box">
    <div class="title">
      <span>
        Finish setting up your restaurant
      </span>
    </div>
    <button (click)="continue()" class="orange-button">
      Continue
    </button>
  </div>
  <div *ngIf="data && data.nextEventuallyUrl" class="info-box">
    <div class="title">
      <span>
        You'll have to provide more data in future to verify your restaurant
      </span>
    </div>
    <button (click)="finish()" class="orange-button">
      Finish now
    </button>
  </div>
  <div *ngIf="data?.money" class="payments">
    <div class="one" (click)="go('settings')">
      <div class="status"
        [class.status-badge-green]="data.money.cash == 'enabled'"
        [class.status-badge-orange]="data.money.cash == 'disabled'">
        <ion-icon name="checkmark-outline" *ngIf="data.money.cash == 'enabled'"></ion-icon>
        <ion-icon name="close-outline" *ngIf="data.money.cash == 'disabled'"></ion-icon>
        {{ data.money.cash }}
      </div>
      <ion-icon class="icon" name="cash-outline"></ion-icon>
      <div class="title">
        Cash
      </div>
    </div>
    <div class="one" (click)="go('settings')">
      <div class="status"
        [class.status-badge-green]="data.money.card == 'enabled'"
        [class.status-badge-orange]="data.money.card == 'disabled'"
        [class.status-badge-red]="data.money.card == 'rejected' || data.money.card == 'restricted'"
        [class.status-badge-purple]="data.money.card == 'pending'"
      >
        <ion-icon name="checkmark-outline" *ngIf="data.money.card == 'enabled'"></ion-icon>
        <ion-icon name="close-outline" *ngIf="data.money.card == 'disabled'"></ion-icon>
        <ion-icon name="ban-outline" *ngIf="data.money.card == 'restricted'"></ion-icon>
        {{ data.money.card }}
      </div>
      <ion-icon class="icon" name="card-outline"></ion-icon>
      <div class="title">
        Card
      </div>
    </div>
    <div class="payouts" [class.one]="!data.payouts">
      <!-- [class.status-badge-orange]="data.money.payouts == 'disabled'" -->
      <div class="status"
        [class.status-badge-green]="data.money.payouts == 'enabled'"
        [class.status-badge-red]="data.money.payouts == 'rejected' || data.money.payouts == 'restricted'"
        [class.status-badge-purple]="data.money.payouts == 'pending'"
      >
        <ion-icon name="checkmark-outline" *ngIf="data.money.payouts == 'enabled'"></ion-icon>
        <ion-icon name="close-outline" *ngIf="data.money.payouts == 'disabled'"></ion-icon>
        <ion-icon name="ban-outline" *ngIf="data.money.payouts == 'restricted'"></ion-icon>
        {{ data.money.payouts }}
      </div>
      <div class="bank" *ngIf="data.payouts">
        <div class="last4">
          <span class="circles">
            &#9679;&#9679;&#9679;&#9679;
          </span>
          <span class="numbers">
            {{ data.payouts.last4 }}
          </span>
        </div>
        <div class="currency">
          {{ data.payouts.currency }}
        </div>
      </div>
      <ion-icon *ngIf="!data.payouts" name="arrow-undo-outline" class="icon"></ion-icon>
      <div class="title">
        Payouts
      </div>
    </div>
  </div>
  <div class="stats">
    <!-- [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis" -->
    <div class="money">
      <div class="chart">
        <ngx-charts-line-chart
          [view]="chart.view"
          [scheme]="chart.colorScheme"
          [legend]="chart.legend"
          [showXAxisLabel]="chart.showXAxisLabel"
          [showYAxisLabel]="chart.showYAxisLabel"
          [showGridLines]="chart.showGridLines"
          [xAxisLabel]="chart.xAxisLabel"
          [yAxisLabel]="chart.yAxisLabel"
          [timeline]="chart.timeline"
          [results]="chart.multi"
          >
        </ngx-charts-line-chart>
      </div>
      <div class="info">
        <div class="title">
          Today earned
        </div>
        <div class="currency">
          USD
        </div>
        <div class="amount">
          123
        </div>
      </div>
    </div>
  </div>
</div>