<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>Image</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="done()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center ion-align-items-center">
  <image-cropper [imageFile]="file" [maintainAspectRatio]="true" [aspectRatio]="resolution" format="jpeg"
    (imageCropped)="imageCropped($event)" (loadImageFailed)="loadImageFailed()"></image-cropper>
</ion-content>