ion-content {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);
    }
    background-color: rgb(226, 226, 226);
    image-cropper {
        margin-left: calc((624px - 512px) / 2);
        width: 512px;
        height: auto;
    }
}