<ion-header>
  <ion-toolbar color="warning">
    <div class="header" type="h1">
      <p class="title">Sign up to Craba</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app">
    <div class="title">
      <h1 class="main">Welcome to Ctraba</h1>
      <h3 *ngIf="ui.message.length" class="error-message">{{ ui.message }}</h3>
    </div>
    <div class="signup">
      <div class="inputs">
        <input placeholder="Email" [(ngModel)]="email" class="i top" type="email"><br>
        <input placeholder="Username" [(ngModel)]="username" class="i middle" type="text"><br>
        <input placeholder="Password" [(ngModel)]="password" class="i bottom" type="password">
      </div>
      <small class="small-text">If you have an account ho <a routerLink="/login">login</a></small><br>
      <ion-button (click)="signup()" color="success" id="signup-button">Sign Up</ion-button>
    </div>
    <div class="help">
      <a routerLink="/help#login" class="dark-link">Need help?</a>
    </div>
  </div>
</ion-content>