<div class="app">
  <div class="title">
    <div class="back" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon> COMPONENTS
    </div>
    <div class="gap"></div>
    <div class="edit">
      <button id="edit" class="orange-button" [disabled]="!component" (click)="edit()">Edit</button>
    </div>
    <div class="remove">
      <button id="remove" class="red-button" [disabled]="!component" (click)="remove()">Remove</button>
    </div>
  </div>
  <div class="body">
    <div class="details" *ngIf="component">
      <div class="name">
        {{ component.name }}
      </div>
      <div class="price">
        <p class="orange">${{ component.price }}</p>per kilogram.
      </div>
      <div class="amount">
        You have<p class="orange" (click)="update()">{{ component.amount }}</p>grams.
      </div>
    </div>
    <div class="update" *ngIf="component">
      <button (click)="update()" class="orange-button">Update</button>
    </div>
  </div>
</div>