.app {
    .title {
        display: grid;
        grid-template-columns: 20% 60% 10% 10%;
        .back {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: rgb(155, 155, 155);
            transition: .4s all;
            font-size: 18px;
            ion-icon {
                font-size: 22px;
            }
            &:hover {
                color: rgb(100, 100, 100);
            }
        }
        .remove {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .edit {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .body {
        .details {
            padding: 32px 12px;
            .name {
                font-size: 24px;
                color: var(--title-color);
                font-weight: 600;
            }
            .orange {
                color: var(--orange);
                margin: 0;
                margin: 0 5px;
            }
            .price {
                font-size: 18px;
                color: var(--text-color);
                display: flex;
            }
            .amount {
                font-size: 18px;
                display: flex;
                color: var(--text-color);
            }
        }
        .update {
            button {
                height: 42px;
                color: black;
            }
        }
    }
}