<div class="app">
    <div class="box">
        <div class="header">
            <button id="close-dish" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>
        <div class="content" *ngIf="dish">
            <div class="image">
                <img [src]="image || './../../../../../../assets/images/no-image.jpg'" [class]="imageClass" alt="">
            </div>
            <div class="info">
                <div class="name title-font">
                    {{ dish.name }}
                </div>
                <div class="price">
                    ${{ dish.price / 100 }}
                </div>
                <div class="description">
                    {{ dish.description }}
                </div>
                <div class="category">
                    {{ category }}
                </div>
            </div>
        </div>
        <div class="add-remove" *ngIf="dish">
            <button class="red-button" (click)="remove()" [disabled]="new == 0 || amount == 0">
                <ion-icon name="remove"></ion-icon>
            </button>
            <div class="amount">
                <span class="count">
                    {{ amount }}
                </span>
            </div>
            <button class="orange-button" (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </div>
    </div>
</div>