<div class="app">
    <div class="box">
        <div class="header">
            <button id="close-modal" (click)="leave.emit()">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="title">
                <span class="text title-font">Checkout</span>
            </div>
        </div>
        <div class="content">
            <div class="select" *ngIf="methods">
                <button (click)="cash()" id="cash" [class.s]="mode == 'cash' || ui.loading" [disabled]="!methods.cash" class="button-font">
                    Cash
                </button>
                <button (click)="card()" id="card" [class.s]="mode == 'card' || ui.loading" [disabled]="!methods.card" class="button-font">
                    Card
                </button>
            </div>
            <div *ngIf="money" class="money">
                <div class="subtotal">
                    <span class="title title-font">
                        Subtotal
                    </span>
                    <span class="dots"></span>
                    <span class="number">
                        ${{ money.subtotal / 100 }}
                    </span>
                </div>
                <div class="hst">
                    <span class="title title-font">
                        HST
                    </span>
                    <span class="dots"></span>
                    <span class="number">
                        ${{ money.hst / 100 }}
                    </span>
                </div>
                <div class="total">
                    <span class="title title-font">
                        Total
                    </span>
                    <span class="dots"></span>
                    <span class="number">
                        ${{ money.total / 100 }}
                    </span>
                </div>
            </div>
            <div *ngIf="money && mode == 'cash'" class="cash">
                <div class="title">
                    <span class="text title-font">
                        Cash
                    </span>
                </div>
                <div class="content">
                    <p class="text">
                        Click submit button below when payed.
                    </p>
                    <button class="green-button" (click)="cashSubmit()">
                        PAYED
                    </button>
                </div>
            </div>
            <div class="card" *ngIf="money && mode == 'card'">
                <div class="title">
                    <span class="text title-font">
                        Card
                    </span>
                </div>
                <div class="content">
                    <div class="form">
                        <ngx-stripe-payment *ngIf="elementsOptions?.clientSecret as clientSecret" [clientSecret]="clientSecret">
                        </ngx-stripe-payment>
                    </div>
                    <div class="button" *ngIf="elementsOptions?.clientSecret && ui.showCardButton">
                        <button (click)="cardSubmit()" class="green-button">PAY</button>
                    </div>
                </div>
            </div>
            <div class="none" *ngIf="money && mode != 'cash' && mode != 'card'">
                <button (click)="submit()" class="green-button">
                    Submit
                </button>
            </div>

            <div class="loading" *ngIf="(!methods && !money) || ui.loading">
                <span class="spinner"></span>
            </div>
        </div>
    </div>
</div>