<div class="app">
    <div class="box">
        <div class="header">
            <button id="close-modal" (click)="leave.emit()">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="title">
                <span class="text">
                    Order comment
                </span>
            </div>
            <button id="save" (click)="save()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </div>
        <div class="content">
            <textarea placeholder="Write..." [(ngModel)]="comment"></textarea>
        </div>
    </div>
</div>