<ion-header>
  <ion-toolbar color="warning">
    <ion-searchbar
      mode="ios"
      *ngIf="showSearchbar"
      placeholder="Search"
      [(ngModel)]="searchText"
      (search)="search($event)"
      (ionCancel)="openSearchbar()"
      (ionClear)="clear()"
      showCancelButton="always"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="openSearchbar()" *ngIf="!showSearchbar"><ion-icon name="search-outline"></ion-icon></ion-button>
      <ion-button (click)="userPopover($event)" *ngIf="!showSearchbar">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar">{{ ui.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<!-- !showSearchbar  -->
<ion-content>
  <div class="app">
    <div class="types" *ngIf="types">
      <div *ngFor="let type of types" (click)="goType(type.value)" class="one">
        <div class="img">
          <img [src]="type.img" alt="">
        </div>
        <div class="title">
          {{ type.title }}
        </div>
      </div>
      <div class="category" *ngIf="restaurant">
        <app-category (click)="goCategory(category.name)" *ngFor="let category of restaurant.categories" [data]="category"></app-category>
      </div>
    </div>
    <div class="dishes">
      <app-dish *ngFor="let id of dishes" [id]="id"></app-dish>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="payment()" [disabled]="!restaurant" color="success">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
