<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add ingredient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price $ per kilogram</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount in grams</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </ion-item>
    <button class="success-button" (click)="add()">Submit</button>
  </div>
</ion-content>
