<div class="app" [@showUp] (mousedown)="leave.emit()">
    <div class="box" (mousedown)="$event.stopPropagation()">
        <div class="input" *ngIf="ui.showInput">
            <div class="drop" appDnd (fileDropped)="fileChangeEvent($event)">
                <div class="icon">
                    <ion-icon name="download-outline"></ion-icon>
                </div>
                <div class="dnd-title title-font">
                    Drop here
                </div>
                <div class="or title-font">
                    or
                </div>

                <div class="browse">
                    <input type="file" id="avatar-input" (change)="fileChangeEvent($event)" />
                    <label for="avatar-input" class="orange-button">
                        Browse files
                    </label>
                </div>
            </div>
        </div>

        <div class="cropper" *ngIf="ui.showCropper">
            <div class="resolution">
                <button [class.active]="resolution == 1" (click)="setResolution(1)" class="resolution-button button-font">1 / 1 <small>Drinks</small></button>
                <button [class.active]="resolution == 1.33" (click)="setResolution(1.33)" class="resolution-button button-font">4 / 3</button>
                <button [class.active]="resolution == 1.77" (click)="setResolution(1.77)" class="resolution-button button-font">16 / 9</button>
            </div>
            <div class="border">
                <image-cropper
                    [imageFile]="currentFile"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="resolution"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
            </div>

            <button class="orange-button" (click)="save()">Save</button>
        </div>
    </div>
</div>