<div class="app">
    <div class="box">
        <div class="header">
            <button id="close-card">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="title">
                <span class="text title-font">
                    Pay <span class="amount">{{ (total / 100).toFixed(2) }}</span> with card
                </span>
            </div>
        </div>
        <div class="content">
            <div class="form">
                <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret">
                    <ngx-stripe-payment [clientSecret]="clientSecret">
                    </ngx-stripe-payment>
                </ng-container>
            </div>
            <div class="buttons"><button (click)="pay()" class="green-button">PAY</button></div>
        </div>
    </div>
</div>