<ion-content>
    <div class="app a-page-with-box">
        <div class="box">
            <div class="header">
                <h1 id="title">
                    Strava
                </h1>
                <h2 id="subtitle">Create a restaurant</h2>
            </div>
            <div class="body">

                <select id="country" (change)="update()" [(ngModel)]="country">
                    <option value="CA">Canada</option>
                    <!-- <option *ngFor="let i of countries" [selected]="country == i.code" [value]="i.code">
                        {{ i.name }}
                    </option> -->
                </select>

                <div class="message">
                    {{ ui.message }}
                </div>


                <input [(ngModel)]="name" id="name" type="text" placeholder="Name">
                <div class="red message" *ngIf="ui.redMessage.length > 0">
                    {{ ui.redMessage }}
                </div>
                <div class="message">
                    {{ ui.nameMessage }}
                </div>

            </div>
            <div class="buttons">
                <button id="back" (click)="exit()">
                    Exit
                </button>
                <button id="next" (click)="next()">
                    Next
                </button>
            </div>

            <div class="text">
                By continuing you agree with <a target="_blank" rel="noopener noreferrer"
                    href="https://stripe.com/legal/connect-account">Stripe terms of service<ion-icon
                        name="open-outline"></ion-icon></a>
            </div>
        </div>
    </div>
</ion-content>