<div class="app" (mousedown)="quit()">
  <div class="body" (mousedown)="$event.stopPropagation()">
    <div class="title">
      Invitations
    </div>
    <div class="invitings" *ngIf="invitings">
      <div class="one" *ngFor="let i of invitings">
        <div class="name">
          {{ i.name }}
        </div>
        <div class="role">
          {{ i.role }}
        </div>
        <div class="date">
          {{ i.joined }}
        </div>
        <div class="remove">
          <button (click)="remove(i._id, i.user)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>