<div class="app">
    <div class="title">
        <div class="text title-font">
            To be served
        </div>
    </div>
    <div class="no-dishes" *ngIf="orderDishes && orderDishes.length == 0">
        <ion-icon name="flame-outline"></ion-icon>
        <span class="text">
            No dishes
        </span>
        <ion-icon name="diamond-outline"></ion-icon>
    </div>
    <div class="dishes" *ngIf="orderDishes && orderDishes.length > 0">
        <app-waiter-dish (click)="openModal(i)" *ngFor="let i of orderDishes" [orderDish]="i"></app-waiter-dish>
    </div>
</div>


<ng-container #dishModalContainer></ng-container>