<div class="app">
    <div class="header">
        <div class="back">
            <button class="button-font" id="back" (click)="exit()"><ion-icon name="arrow-back-outline"></ion-icon>Exit</button>
        </div>
    </div>
    <div class="content">
        <input type="text" type="password" [(ngModel)]="password" placeholder="New password">
        <input type="text" type="password" [(ngModel)]="confirm" placeholder="Confirm new password">
        <div *ngIf="ui.message && ui.message.length > 0" class="message">
            <span class="text">
                {{ ui.message }}
            </span>
        </div>
        <div class="buttons">
            <button class="orange-button" (click)="submit()">Reset password</button>
        </div>
    </div>
</div>