<ion-header>
  <ion-toolbar color="orange" *ngIf="user">
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>{{ user.name || user.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app" *ngIf="user">
    <div class="user">
      <div class="avatar">
        <img [src]="image" alt="">
      </div>
      <div class="name">
        <p class="name">{{user.name}}</p>
        <p class="username">{{user.username}}</p>
      </div>
    </div>
    <div class="restaurant">
      <div class="total type">
        <div class="title">
          Total spendings
        </div>
        <div class="value">
          ${{ total }}
        </div>
      </div>
      <div class="fav type">
        <div class="title">
          Favorite dish
        </div>
        <div class="value">
          {{ favorite.name }}
        </div>
      </div>
    </div>
    <div class="buttons">
      <button *ngIf="!blacklisted" [disabled]="disableButton" (click)="blacklist()" class="red-button">Add to blacklist</button>
      <button *ngIf="blacklisted" [disabled]="disableButton" (click)="unBlacklist()" class="success-button">Remove from blacklist</button>
    </div>
  </div>
</ion-content>
