<ion-header>
  <ion-toolbar mode="ios" color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon> Back
      </ion-button>
    </ion-buttons>
    <ion-title>Confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app">
    <div class="title">
      <p class="error-text">{{ui.title}}</p>
    </div>
    <div class="warning">
      {{ ui.warning }}
    </div>
    <div class="confirm">
      <ion-item *ngIf="type === 'restaurant'">
        <ion-label position="floating" class="the-label">Type <p class="font-weight-600">{{ ui.restaurant }}</p> to confirm.</ion-label>
        <ion-input [(ngModel)]="restaurant"></ion-input>
      </ion-item>
      <ion-item *ngIf="type === 'remove'">
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button class="confirm-button" (click)="confirm()" color="danger">Confirm</ion-button>
    </div>
  </div>
</ion-content>
