<div class="app">
  <div class="header" *ngIf="user">
    <div class="title">Invite {{ user.name }}</div>
  </div>
  <div class="works" *ngIf="ui.showWorks">
    <div class="body">
      The user is already working at the restaurant.
      <button class="orange-button" (click)="back()">Back</button>
    </div>
  </div>
  <div *ngIf="ui.errorMessage.length > 0" class="error-message">
    {{ui.errorMessage}}
  </div>
  <div class="content" *ngIf="ui.showAll">
    <div class="role">
      <div (click)="role = 'manager'" [ngClass]="{ active: role == 'manager' }" class="one manager">
        Manager
      </div>
      <div (click)="role = 'waiter'" [ngClass]="{ active: role == 'waiter' }" class="one waiter">
        Waiter
      </div>
      <div (click)="role = 'cook'" [ngClass]="{ active: role == 'cook' }" class="one cook">
        Cook
      </div>
    </div>
    <button class="green-button" (click)="submit()">Add user to restaurant</button>
    <div class="body">
      <div *ngIf="role == 'manager'" class="manager">
        <div class="work-block">
          <div class="title">Let the manager work as</div>
          <div class="body">
            <div class="option">
              <div class="label">Waiter</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('work', 'waiter')" color="orange"></ion-toggle>
              </div>
            </div>
            <div class="option">
              <div class="label">Cook</div>
              <div class="value">
                <ion-toggle mode="ios" (ionChange)="set('work', 'cook')" color="orange"></ion-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="title">
            Let the manager add/change/remove dishes
          </div>
          <div class="value">
            <ion-toggle mode="ios" (ionChange)="set('dishes')" color="orange"></ion-toggle>
          </div>
        </div>
        <div class="block">
          <div class="title">Let the manager add/change/remove ingredients</div>
          <div class="value">
            <ion-toggle mode="ios" (ionChange)="set('ingredients')" color="orange"></ion-toggle>
          </div>
        </div>
        <div class="block">
          <div class="title">Let the manager blacklist customers/remove customers' orders</div>
          <div class="value">
            <ion-toggle mode="ios" (ionChange)="set('customers')" color="orange"></ion-toggle>
          </div>
        </div>
        <div class="block">
          <div class="title">Let the manager hire/fire/change staff</div>
          <div class="value">
            <ion-toggle mode="ios" (ionChange)="set('staff')" color="orange"></ion-toggle>
          </div>
        </div>
        <div class="block">
          <div class="title">Let the manager change restaurant's settings</div>
          <div class="value">
            <ion-toggle mode="ios" (ionChange)="set('settings')" color="orange"></ion-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>