<div class="app" (mousedown)="quit()">
  <div class="body" (mousedown)="$event.stopPropagation()">
    <div class="title">
      Worker
      <!-- {{ restaurant }} -->
    </div>
    <div class="change">
      <div class="salary">
        Salary
      </div>
      <div class="role">
        <ion-item>
          <ion-label>Change role</ion-label>
          <ion-select [(ngModel)]="role" interface="popover" mode="ios">
            <ion-select-option value="manager">Manager</ion-select-option>
            <ion-select-option value="cook">Cook</ion-select-option>
            <ion-select-option value="waiter">Waiter</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
    <div class="buttons">
      <div class="fire">
        <button class="red" (click)="fire()">Fire</button>
      </div>
      <div class="submit">
        <button class="orange" [disabled]="!role" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>