<div class="app">
  <div class="header">
    <div class="title">
      Invite worker
    </div>
  </div>
  <div class="content">
    <div class="search">
      <ion-searchbar placeholder="User email / username / name" mode="ios" (ionInput)="find($event)"></ion-searchbar>
      <button class="orange-button">
        <ion-icon name="search"></ion-icon>
      </button>
    </div>
    <div *ngIf="!users || users.length == 0" class="no-users">
      <ion-icon name="arrow-up-outline"></ion-icon>Search for users
    </div>
    <div class="list" *ngIf="users && users.length > 0">
      <div *ngFor="let i of users" class="one">
        <div class="avatar">
          <img [src]="i.avatar || './../../../../../assets/images/plain-avatar.jpg'" alt="">
        </div>
        <div class="name">
          {{ i.name }}
        </div>
        <div class="buttons">
          <button class="green-button" (click)="invite(i._id)">Invite<ion-icon name="chevron-forward-outline"></ion-icon></button>
          <button class="more" (click)="more()">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>