.app {
    padding-bottom: 248px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .back {
            display: flex;
            align-items: center;
            padding-left: 12px;
    
            button {
                display: flex;
                align-items: center;
                background: none;
    
                .text {
                    color: var(--title-color);
                    font-size: 18px;
                }
                ion-icon {
                    font-size: 22px;
                }
            }
        }
        .buttons {
            .red-button {
                width: 136px;
            }
            .orange-button {
                width: 196px;
            }
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        .user {
            display: flex;
            .avatar {
                padding: 8px;
                img {
                    width: 42px;
                    height: 42px;
                    border-radius: 100%;
                }
            }
            .details {
                padding: 8px;
                .name {
                    font-size: 18px;
                    color: var(--black);
                }
                .email {
                    color: var(--text-color);
                }
            }
        }
        .customer {
            div {
                height: 26px;
                .text {
                    font-size: 14px;
                    color: var(--text-color);
                }
                .black {
                    margin-left: 6px;
                    color: var(--black);
                }
            }
        }
    }

    .orders {
        margin-top: 24px;
        .title {
            color: var(--black);
            font-size: 20px;
        }
        .no-orders {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 248px;
            
            .text {
                font-size: 18px;
                color: var(--text-color);
            }
        }
        .list {
            .example {
                height: 32px;
                border-bottom: 1px solid var(--border-color);
                display: grid;
                grid-template-columns: 40% 20% 20% 20%;

                div {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: var(--text-color);
                }
                .date {
                    padding-left: 4px;
                }
            }
            .order {
                height: 38px;
                border-bottom: 1px solid var(--border-color);
                display: grid;
                grid-template-columns: 40% 20% 20% 20%;
                cursor: pointer;
                
                &:hover { 
                    background-color: rgb(247, 247, 247);
                }
                div {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                }
                .total,.dishes {
                    color: var(--black);
                }
                .date {
                    color: var(--text-color);
                    padding-left: 4px;
                }
                .status {
                    justify-content: center;
                    & > div {
                        padding: 4px 10px;
                        border-radius: 6px;
                    }
                }
            }
        }
    }

    .loading {
        width: 100%;
        height: 124px;
        display: flex;
        align-items: center;
        justify-content: center;
        .spinner {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border-top: 2px solid var(--border-color);
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }
}


@media screen and (max-width: 700px) {
    .app {
        .top {
            flex-direction: column;

            .user {
                border-bottom: 1px solid var(--border-color);
            }
            .customer {
                margin-top: 8px;
            }
        }
    }
}