<div class="app" (mousedown)="leave.emit()" [@showUp]>
    <div class="box" (mousedown)="$event.stopPropagation()">
        <div class="header">
            <span class="warning">
                !
            </span>
            <span class="text title-font">
                Change Password
            </span>
            <span class="warning">
                !
            </span>
        </div>
        <div class="content">
            <div class="info">
                <span class="bigger">
                    You're about to change your password.
                </span><br>
                <span class="text">
                    Please choose strong and long password, but don't forget it. 
                </span><br>
                <span class="text">
                    Forgot password? <button id="reset" class="button-font" (click)="reset()">Reset</button>
                </span>
            </div>
            <div class="form" [formGroup]="form" (ngSubmit)="submit()">
                <div class="current">
                    <input type="password" id="current" formControlName="currentPassword" placeholder="Current password">
                    <span class="message" *ngIf="ui.currentMessage.length > 0">
                        {{ ui.currentMessage }}
                    </span>
                </div>
                <div class="new">
                    <input type="password" id="new" formControlName="newPassword" placeholder="New password">
                    <input type="password" id="confirm" formControlName="confirmPassword" placeholder="Confirm new password">
                    <span *ngIf="ui.newMessage.length > 0" class="message">
                        {{ ui.newMessage }}
                    </span>
                </div>

                <div class="buttons">
                    <button class="white-button" (click)="leave.emit()">Cancel</button>
                    <button class="orange-button" type="submit" id="submit" (click)="submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>