.header {
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 42px;
    width: 100%;
    padding: 0 412px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999;

    .restaurant {
        font-size: 20px;
        font-weight: 550;
        color: var(--title-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;

            ion-icon {
                transition: all .5s;
            }
        }

        &.active {
            .button {
                ion-icon {
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        align-items: center;

        .link {
            width: 124px;
            height: 28px;
            background-color: rgb(236, 236, 236);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            cursor: pointer;

            a {
                transition: all .3s;
                text-decoration: none;
                // font-weight: 550;
                color: black;
            }

            &:hover {
                background-color: rgb(202, 202, 202);
            }

            &.active {
                background-color: var(--orange);
            }
        }
    }

    .user {
        a {
            border: 1px solid var(--black);
            padding: 6px;
            height: 28px;
            border-radius: 14px;
            width: auto;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 14px;

            // background-color: var(--orange-back);
            &:hover {
                // color: rgb(85, 85, 85);
                background-color: rgb(229, 229, 229);
            }

            ion-icon {
                font-size: 24px;
            }
        }
    }

    .work {
        a {
            border: 1px solid var(--purple);
            background-color: var(--purple-back);
            color: var(--purple-dark);
            padding: 6px;
            height: 28px;
            border-radius: 14px;
            width: auto;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;

            .show {
                display: none;
            }

            &:hover {
                color: var(--purple);
            }

            ion-icon {
                font-size: 20px;
            }
        }
    }
}
.mobile-header {
    height: 42px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: white;
    padding: 0 8px;
    position: relative;
    display: flex;
    align-items: center;

    .name {
        color: var(--black);
        margin-left: 12px;
    }

    #work {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;
        border-bottom: 2px solid var(--purple);
        background: none;
        ion-icon {
            color: var(--text-color);
            font-size: 28px;
        }
    }

    .account {
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        #account {
            ion-icon {
                font-size: 26px;
                color: var(--text-color);
            }
        }
    }
}

.app {
    padding: 48px 412px;

    .verification {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-bottom: 8px;
            width: 228px;
            height: 24px;
            display: flex;
            font-size: 14px;
        }
    }
}


.tabs {
    position: fixed;
    bottom: 14px;
    left: 50%;
    right: 50%;
    translate: -50%;
    // background-color: rgba(250,250,250,0.25);
    background: #f4f4f4;
    backdrop-filter: blur(16px);
    border-radius: 16px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 0 6px;
    padding-bottom: 2px;

    .tab-button {
        background: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        ion-icon {
            color: var(--text-color);
            font-size: 22px;
        }
        .text {
            margin-top: 4px;
            color: var(--text-color);
            font-size: 14px;
        }
        &.active {
            ion-icon {
                padding-top: 2px;
                height: 100%;
                border-top: 2px solid #5a41a0;
            }
            .text, ion-icon {
                color: #5a41a0;
            }
        }
    }
}


@media (min-width: 1500px) {
    .app {
        padding: 0 252px;
    }

    .header {
        padding: 0 252px;
    }

    #tabs {
        display: none;
    }
}

@media (min-width: 1150px) and (max-width: 1499px) {
    .app {
        padding: 0 108px;
    }

    .header {
        padding: 0 108px;
    }

    #tabs {
        display: none;
    }
}

@media (min-width: 700px) and (max-width: 1149px) {
    .app {
        padding: 0 24px;

        .content {
            display: flex;
            flex-direction: column;
        }
    }

    #tabs {
        display: none;
    }

    .header {
        padding: 0 24px;

        .title {
            font-size: 18px;
        }

        .links {
            gap: 6px;

            .link {
                width: 108px;
                font-size: 16px;
            }

            .restaurant button:hover {
                background: transparent;
                color: var(--text-color);
            }
        }

        .user a {
            border: none;

            ion-icon {
                font-size: 28px;
            }

            .username {
                display: none;
            }
        }

        .work a {
            border: none;
            height: 36px;
            width: 36px;

            .hide {
                display: none;
            }

            .show {
                display: inline;
            }

            ion-icon {
                font-size: 28px;
            }

            .title {
                display: none;
            }
        }
    }
}

@media (min-width: 550px) and (max-width: 699px) {
    .app {
        padding: 0 12px;

        .content {
            display: flex;
            flex-direction: column;
        }
    }

    .header {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 549px) {
    .app {
        padding: 0 4px;
    }

    .header {
        display: none;
    }
}

@media (min-width: 200px) and (max-width: 450px) {
    .app {
        padding: 0 8px;
    }
}