<div class="header">
    <div class="restaurant {{ navClass }}">
        <div class="name">
            {{ restaurant?.name }}
        </div>
        <!-- <div class="button" *ngIf="ui.showButtonNearRestaurantName">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </div> -->
    </div>
    <div class="links">
        <a routerLink="/restaurant/{{restaurant?._id}}/home" (click)="redirect()"
            class="link home button-font" [class.active]="page == 'home'" [class.disabled]="ui.disableAllButtons">
            Home
        </a>
        <a routerLink="/restaurant/{{restaurant?._id}}/dishes" (click)="redirect()"
            class="link dishes button-font" [class.disabled]="ui.disableAllButtons" [class.active]="page == 'dishes'">
            Dishes
        </a>
        <a routerLink="/restaurant/{{restaurant?._id}}/staff" (click)="redirect()"
            class="link staff button-font" [class.disabled]="ui.disableAllButtons" [class.active]="page == 'staff'">
            Staff
        </a>
        <a routerLink="/restaurant/{{restaurant?._id}}/orders" (click)="redirect()"
            class="link orders button-font" [class.disabled]="ui.disableAllButtons" [class.active]="page == 'orders'">
            Orders
        </a>
        <a routerLink="/restaurant/{{restaurant?._id}}/settings" (click)="redirect()"
            class="link settings button-font" [class.disabled]="ui.disableAllButtons"
            [class.active]="page == 'settings'">
            Settings
        </a>
    </div>
    <div class="buttons">
        <div class="help">
            <a routerLink="/help" [queryParams]="{ r: restaurant?._id }" class="button-font">Help</a>
        </div>
        <div class="work" *ngIf="workUrl">
            <a [class.disabled]="ui.disableAllButtons" (click)="redirect()" [routerLink]="workUrl">
                <span class="title">
                    Go work
                </span>
                <ion-icon class="hide" name="chevron-forward-outline"></ion-icon>
                <ion-icon class="show" name="construct-outline"></ion-icon>
            </a>
        </div>
        <div class="user">
            <a [class.disabled]="ui.disableAllButtons" (click)="redirect()" routerLink="/user/info">
                <span class="username">
                    {{username}}
                </span>
                <ion-icon name="person-circle-outline"></ion-icon>
            </a>
        </div>
    </div>
</div>
<div class="mobile-header">
    <div class="account">
        <a routerLink="/user/info" id="account">
            <ion-icon name="person-circle-outline"></ion-icon>
        </a>
    </div>
    <div class="name title-font">
        {{ restaurant?.name }}
    </div>
    <a id="work" [class.disabled]="ui.disableAllButtons" (click)="redirect()" *ngIf="workAs" routerLink="/staff/{{ restaurant?._id }}/{{ workAs == 'both' ? 'solo' : workAs }}">
        <ion-icon name="accessibility-outline"></ion-icon>
    </a>
</div>



<div class="app">
    <div *ngIf="!!verificationUrl" class="verification">
        <button class="orange-button" (click)="verification()">Finish restaurant verification</button>
    </div>
    <router-outlet></router-outlet>
</div>


<div id="tabs" class="tabs">
    <a id="home" [class.active]="page == 'home'" (click)="redirect()" [class.disabled]="ui.disableAllButtons" routerLink="/restaurant/{{restaurant?._id}}/home"
        class="tab-button">
        <ion-icon name="home"></ion-icon>
        <span class="text">
            Home
        </span>
    </a>
    <a id="dishes" [class.active]="page == 'dishes'" (click)="redirect()" [class.disabled]="ui.disableAllButtons" routerLink="/restaurant/{{restaurant?._id}}/dishes"
        class="tab-button">
        <ion-icon name="fast-food"></ion-icon>
        <span class="text">
            Dishes
        </span>
    </a>
    <a id="staff" [class.active]="page == 'staff'" (click)="redirect()" [class.disabled]="ui.disableAllButtons" routerLink="/restaurant/{{restaurant?._id}}/staff"
        class="tab-button">
        <ion-icon name="people"></ion-icon>
        <span class="text">
            Staff
        </span>
    </a>
    <a id="orders" [class.active]="page == 'orders'" (click)="redirect()" [class.disabled]="ui.disableAllButtons" routerLink="/restaurant/{{restaurant?._id}}/orders"
        class="tab-button">
        <ion-icon name="file-tray-full"></ion-icon>
        <span class="text">
            Orders
        </span>
    </a>
    <a id="settings" [class.active]="page == 'settings'" (click)="redirect()" [class.disabled]="ui.disableAllButtons" routerLink="/restaurant/{{restaurant?._id}}/settings"
        class="tab-button">
        <ion-icon name="settings"></ion-icon>
        <span class="text">
            Settings
        </span>
    </a>
</div>