.header {
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 48px;
    width: 100%;
    padding: 0 412px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999;
    .restaurant {
        font-size: 20px;
        font-weight: 550;
        color: var(--title-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
    
            ion-icon {
                transition: all .5s;
            }
        }
    
        &.active {
            .button {
                ion-icon {
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }
    }
    .links {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        align-items: center;
        .link {
            width: 124px;
            height: 28px;
            background-color: rgb(236, 236, 236);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            cursor: pointer;
            a {
                transition: all .3s;
                text-decoration: none;
                // font-weight: 550;
                color: black;
            }
            &:hover {
                background-color: rgb(202, 202, 202);
            }
            &.active {
                background-color: var(--orange);
            }
        }
    }
    .user {
        a {
            border: 1px solid var(--black);
            padding: 6px;
            height: 28px;
            border-radius: 14px;
            width: auto;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 14px;
            // background-color: var(--orange-back);
            &:hover {
                // color: rgb(85, 85, 85);
                background-color: rgb(229, 229, 229);
            }
            ion-icon {
                font-size: 24px;
            }
        }
    }
    .work {
        a {
            border: 1px solid var(--purple);
            background-color: var(--purple-back);
            color: var(--purple-dark);
            padding: 6px;
            height: 28px;
            border-radius: 14px;
            width: auto;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            .show {
                display: none;
            }
            &:hover {
                color: var(--purple);
            }
            ion-icon {
                font-size: 20px;
            }
        }
    }
}
.app {
    padding: 12px 412px;
}


@media (min-width: 1500px) and (max-width: 1900px) {
    .app {
        padding: 52px 252px;
    }
    .header {
        padding: 0 252px;
    }
}
@media (min-width: 1150px) and (max-width: 1499px) {
    .app {
        padding: 52px 108px;
    }
    .header {
        padding: 0 108px;
    }
}
@media (min-width: 700px) and (max-width: 1149px) {
    .app {
        padding: 52px 24px;
        .content {
            display: flex;
            flex-direction: column;
        }
    }
    .header {
        padding: 0 24px;
        .title {
            font-size: 20px;
        }
        .links {
            gap: 6px;
            .link {
                width: 108px;
            }
            .restaurant button:hover {
                background: transparent;
                color: var(--text-color);
            }
        }
        .user a {
            border: none;
            ion-icon {
                font-size: 28px;
            }
            .username {
                display: none;
            }
        }
        .work a {
            border: none;
            height: 36px;
            width: 36px;
            .hide {
                display: none;
            }
            .show {
                display: inline;
            }
            ion-icon {
                font-size: 28px;
            }
            .title {
                display: none;
            }
        }
    }
}
@media (min-width: 550px) and (max-width: 699px) {
    .app {
        padding: 24px 12px;
        .content {
            display: flex;
            flex-direction: column;
        }
    }
    .header {
        position: static;
        padding: 0 24px;
        display: inline-block;
        height: auto;

        .restaurant {
            height: 38px;
        }

        
        .links {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 12px;
            .link {
                height: 32px;
            }
        }

        .user {
            position: absolute;
            top: 6px;
            right: 6px;
            a {
                border: none;
                ion-icon {
                    font-size: 28px;
                }
                .username {
                    display: none;
                }
            }
        }
        .work {
            position: absolute;
            top: 6px;
            right: 46px;
            height: 36px;
            width: 36px;
            a {
                border: none;
                .hide {
                    display: none;
                }
                .show {
                    display: inline;
                }
                ion-icon {
                    font-size: 28px;
                }
                .title {
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 300px) and (max-width: 549px) {
    .app {
        padding: 24px 4px;
    }
    .header {
        padding: 0 24px;
        display: inline-block;
        height: auto;
        position: static;

        .restaurant {
            height: 38px;
        }

        .user {
            position: absolute;
            top: 6px;
            right: 6px;
            a {
                border: none;
                ion-icon {
                    font-size: 28px;
                }
                .username {
                    display: none;
                }
            }
        }
        .work {
            position: absolute;
            top: 6px;
            right: 46px;
            height: 36px;
            width: 36px;
            a {
                border: none;
                .hide {
                    display: none;
                }
                .show {
                    display: inline;
                }
                ion-icon {
                    font-size: 28px;
                }

                .title {
                    display: none;
                }
            }
        }

        .links {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 12px;
            .link {
                font-size: 16px;
                height: 32px;
            }
            #add-restaurant:hover {
                color: var(--text-color);
                background-color: transparent;
            }
        }
    }
}
@media (min-width: 200px) and (max-width: 450px) {
    .app {
        padding: 24px 8px;
    }
}
