<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="ui">
      <ion-button *ngIf="ui.taken && taken.user._id != userId" (click)="doneTaken()" color="red">Taken</ion-button>
      <ion-button *ngIf="!ui.taken" (click)="take()">Take</ion-button>
      <ion-button *ngIf="ui.taken && taken.user._id == userId" (click)="quit()">Quit</ion-button>
      <ion-button *ngIf="ui.taken && taken.user._id == userId" color="purple" (click)="done()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="app" *ngIf="dish">
    <div class="left">
      <div class="top">
        <div class="image">
          <img [class]="dish.image.resolution" [src]="dishImage">
        </div>
        <div class="dish-info">
          <div class="name">
            {{ dish.name }}
          </div>
          <div class="time">
            {{ dish.time }} min.
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="comment" *ngIf="dish.comment">
            Comment for dish: {{ dish.comment }}
          </div>
          <div class="order-comment" *ngIf="order.comment">
            Order comment: {{ order.comment }}
          </div>
      </div>
    </div>
    <div class="right">
      <div *ngIf="ui.taken" class="taken">
        <div class="time">
          Taken
          <span class="hours" *ngIf="taken.time.hours > 0">
            &nbsp;<span class="hours-count">{{ taken.time.hours }}</span> hours
          </span>
          <span class="minutes">
            &nbsp;<span class="minutes-count">{{ taken.time.minutes }}</span> min.&nbsp;
          </span>
          ago
        </div>
        <div class="user">
          By
          <div class="name">
            {{ taken.user.name }}
          </div>
          <div class="avatar">
            <img [src]="cookAvatar || './../../../../assets/images/plain-avatar.jpg'">
          </div>
        </div>
      </div>
      <div class="user">
        <div class="name">
          {{ user.name }}
        </div>
        <div class="avatar">
          <img [src]="userAvatar || './../../../../assets/images/plain-avatar.jpg'">
        </div>
      </div>
      <div class="order">
        <div class="table" *ngIf="order.table">
          <span class="title">
            Table:
          </span>
          <span class="table-number">
            {{ order.table }}
          </span>
        </div>
        <div class="dishes">
          <span class="title">
            Dishes ordered:
          </span>
          <span class="dishes-count">
            {{ order.dishes }}
          </span>
        </div>
        <div *ngIf="order.time" class="time {{ order.time.color }}">
          <span class="hours" *ngIf="order.time.hours > 0">
            <span class="hours-count">
              {{ order.time.hours }}
            </span> hours
          </span>
          <span class="minutes">
            <span class="minutes-count">
              {{ order.time.minutes }}
            </span> min.
          </span>
        </div>
        <div class="full-order">
          <a (click)="fullOrder()" id="full-order">See full order</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
