.app {
    display: grid;
    grid-template-columns: 65% 35%;

    .left {
        .top {
            display: flex;
            
            .image {
                .r1 {
                    width: 164px;
                    height: 164px;
                }
                .r2 {
                    width: 198px;
                    height: 149px;
                }
                .r3 {
                    height: 149px;
                    width: 263px;
                }
                img {
                    border-bottom-right-radius: 8px;
                    border-right: 2px solid var(--green);
                    border-bottom: 2px solid var(--green);
                }
            }
            .dish-info {
                padding: 12px;
                .name {
                    font-size: 18px;
                    color: var(--title-color);
                }
                .time {
                    color: var(--text-color);
                }
            }
        }
        .bottom {
            padding: 12px;
        }
    }
    .right {
        padding: 12px;

        .taken {
            border-bottom: 1px solid rgb(228, 228, 228);
            padding-bottom: 6px;
            .user {
                display: flex;
                align-items: center;
                .name {
                    margin-left: 4px;
                    cursor: pointer;
                    &:hover {
                        color: var(--text-color);
                    }
                }
                img {
                    margin-left: 8px;
                    border-radius: 100%;
                }
            }
            .time {
                display: flex;
            }
        }
        .user {
            display: flex;
            align-items: center;
            .name,.avatar {
                cursor: pointer;
            }
            &:hover {
                color: var(--text-color);
            }
            img {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                margin: 6px;
            }
        }
        .order {
            .table,.dishes {
                color: var(--text-color);
                margin-top: 8px;
            }
            .time {
                margin-top: 12px;
                &.red {
                    color: var(--red);
                }
                &.green {
                    color: var(--gren);
                }
                &.orange {
                    color: var(--orange);
                }
            }
            #full-order {
                margin-top: 8px;
                cursor: pointer;
                ion-icon {
                    margin-left: 4px;
                }
                &:hover {
                    color: var(--orange);
                }
            }
        }
    }
}