.app {
    .header {
        display: flex;
        .title {
            width: 124px;
            font-size: 18px;
            font-weight: 550;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--title-color);
        }
        .links {
            width: 400px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 32px;
                cursor: pointer;
                font-size: 18px;
                font-weight: 550;
                &:hover {
                    background-color: rgb(242, 242, 242);
                }
                &.staff {
                    &.active {
                        border-bottom: 2px solid var(--purple);
                    }
                }
                &.customers {
                    &.active {
                        border-bottom: 2px solid var(--green);
                    }
                }
                &.orders.active {
                    border-bottom: 2px solid var(--red);
                }
            }
        }
    }
}