<div class="app">
  <div class="title" *ngIf="restaurant">
    <p class="name" (click)="name()">{{ restaurant.name }}<ion-icon name="pencil-outline"></ion-icon>
    </p> settings
  </div>
  <div class="body" *ngIf="settings">

    <div class="dishes block">
      <div class="subtitle">
        Dishes settings
      </div>
      <div class="body">
        <div class="option">
          <div class="text">
            Strict Ingredients
          </div>
          <div class="value">
            <ion-toggle color="orange" [checked]="settings.dishes.strictIngredients"
              (ionChange)="change('dishes', 'strictIngredients')" mode="ios"></ion-toggle>
          </div>
        </div>
      </div>
    </div>



    <!-- <div class="staff">
      <div class="subtitle">
        Staff
      </div>
      <div class="body">

      </div>
    </div> -->
    <div class="customers block">
      <div class="subtitle">
        Customers
      </div>
      <div class="body">
        <div class="option input">
          <div class="text">
            Max dishes
          </div>
          <div class="value">
            <input type="number" [value]="settings.customers.maxDishes" (input)="customerDishes($event)">
          </div>
        </div>
        <div class="option">
          <div class="text">
            Orders
          </div>
          <div class="value">
            <ion-toggle [checked]="settings.customers.orders" (ionChange)="change('customers', 'orders')" color="orange" mode="ios"></ion-toggle>
          </div>
        </div>
      </div>
    </div>



    <div *ngIf="ui.showDanger" class="danger">
      <div class="remove">
        <div class="title">
          Remove {{ restaurant.name }}
        </div>
        <div class="button">
          <button class="red-button" (click)="remove()">
            Remove
          </button>
        </div>
      </div>
    </div>

  </div>
</div>