.app {
    .block {
        margin-top: 24px;
        & > .title {
            font-size: 22px;
            color: var(--text-color);
        }
        .content {
            width: 512px;
            .setting {
                border-bottom: 1px solid rgb(245, 245, 245);
                height: 84px;
                display: grid;
                grid-template-columns: 60% 40%;
                .title {
                    display: flex;
                    align-items: center;
                    padding-left: 12px;
                    font-size: 18px;
                    color: var(--text-color);
                }
                .value {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.number-small-input {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.checkbox {
    display: flex;
    align-items: center;
    margin-left: 12px;
    .label {
        color: var(--gray);
    }
    input {
        margin-left: 12px;
        accent-color: var(--orange);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        padding: 10px;
    }
}
