<div class="app">
    <div class="restaurant" *ngIf="restaurant">
        <div class="status-help">
            <div class="status">
                <span *ngIf="restaurant.status == 'enabled'" class="status status-badge-green">
                    Enabled
                </span>
                <span *ngIf="restaurant.status == 'disabled'" class="status status-badge-orange">
                    Disabled
                </span>
                <span *ngIf="restaurant.status == 'verification'" class="status status-badge-purple">
                    Verification
                </span>
                <span *ngIf="restaurant.status == 'restricted'" class="status status-badge-purple">
                    Restricted
                </span>
            </div>
            <div class="help">
                <a routerLink="/help" class="button-font">Need help?</a>
            </div>
        </div>
        <div class="name">
            <span class="text title-font">
                {{ restaurant.name }}
            </span>
            <button class="only-text-button" (click)="changeName()" [disabled]="restaurant.status != 'enabled'">Change
                name</button>
        </div>
        <div class="time">
            <span class="text" *ngIf="restaurant.time">
                Opens at {{ restaurant.time.opens.hours }}:{{ restaurant.time.opens.minutes }} {{
                restaurant.time.opens.half }}, closes at {{ restaurant.time.closes.hours }}:{{
                restaurant.time.closes.minutes }} {{ restaurant.time.closes.half }}
            </span>
            <span *ngIf="!restaurant.time" class="text">
                Opening and closing time
            </span>
            <button class="only-text-button" (click)="changeTime()" [disabled]="restaurant.status != 'enabled'">Change
                time</button>
        </div>
        <div class="description">
            <span class="text" *ngIf="restaurant.description">
                {{ restaurant.description }}
            </span>
            <span *ngIf="!restaurant.description" class="text">
                Short restaurant description
            </span>
            <button (click)="changeDescription()" class="only-text-button" [disabled]="restaurant.status != 'enabled'">
                Change description
            </button>
        </div>
        <div class="location">
            <span class="text">
                <span class="country">
                    {{ restaurant.location.country }},
                </span>
                <span class="state" *ngIf="restaurant.location.state">
                    {{ restaurant.location.state }},
                </span>
                <span class="city" *ngIf="restaurant.location.city">
                    {{ restaurant.location.city }},
                </span>
                <span class="address" *ngIf="restaurant.location.line1">
                    {{ restaurant.location.line1 }}<span class="comma" *ngIf="!restaurant.location.line2">,</span>
                    {{ restaurant.location.line2 }}<span class="comma" *ngIf="restaurant.location.line2">,</span>
                </span>
                <span class="postal-code" *ngIf="restaurant.location.postal_code">
                    {{ restaurant.location.postal_code }}
                </span>
            </span>
            <button class="only-text-button" (click)="changeLocation()">Change location</button>
        </div>
    </div>
    <div class="money" *ngIf="money as p">
        <div class="title title-font">
            Payments
        </div>
        <div class="content">
            <div class="method cash">
                <div class="name">
                    <div class="icon">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                    <div class="text">
                        Cash
                    </div>
                </div>
                <div class="status">
                    <span [class.status-badge-green]="p.cash == 'enabled'"
                        [class.status-badge-orange]="p.cash == 'disabled'">
                        {{ p.cash }}
                    </span>
                </div>
                <div class="switch">
                    <ion-toggle (ionChange)="cashChange($event)" [checked]="p.cash == 'enabled'" mode="ios"
                        color="green"></ion-toggle>
                </div>
            </div>
            <div class="method card">
                <div class="name">
                    <div class="icon">
                        <ion-icon name="card-outline"></ion-icon>
                    </div>
                    <span class="text">
                        Card
                    </span>
                    <span *ngIf="p.card == 'restricted'" class="warning">
                        <ion-icon name="alert"></ion-icon>
                    </span>
                </div>
                <div class="status">
                    <span [class.status-badge-green]="p.card == 'enabled'"
                        [class.status-badge-orange]="p.card == 'disabled'" [class.status-badge-red]="p.card == 'rejected'"
                        [class.status-badge-red]="p.card == 'restricted'" [class.status-badge-purple]="p.card == 'pending'">
                        {{ p.card }}
                    </span>
                </div>
                <div class="switch">
                    <ion-toggle (ionChange)="cardChange($event)"
                        [disabled]="(p.card != 'enabled' && p.card != 'disabled')" [checked]="p.card == 'enabled'"
                        mode="ios" color="green"></ion-toggle>
                </div>
                <!-- <div *ngIf="p.card == 'restricted'" class="restricted">
                    Finish <a (click)="continueRegistration()">restaurant registration</a> to enable card payments
                </div> -->
            </div>
            <div class="method">
                <div class="name">
                    <div class="icon">
                        <ion-icon name="arrow-undo-outline"></ion-icon>
                    </div>
                    <span class="text">
                        Payouts
                    </span>
                </div>
                <div class="status">
                    <span [class.status-badge-green]="p.payouts == 'enabled'"
                        [class.status-badge-orange]="p.payouts == 'disabled'"
                        [class.status-badge-red]="p.payouts == 'rejected'"
                        [class.status-badge-red]="p.payouts == 'restricted'"
                        [class.status-badge-purple]="p.payouts == 'pending'">
                        <span *ngIf="p.payouts != 'enabled'">
                            {{ p.payouts }}
                        </span>
                        <span *ngIf="p.payouts == 'enabled'">
                            daily
                        </span>
                    </span>
                </div>
                <div class="switch">
                    <button id="open-payouts" (click)="payouts()">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="staff" *ngIf="settings">
        <div class="title title-font">
            Staff
        </div>
        <div class="content">
            <div class="mode">
                <div class="new">
                    New
                </div>
                <div class="name-description">
                    <span class="name">
                        Mode
                    </span>
                    <span class="description">
                        Select suitable mode for your restaurant
                    </span>
                </div>
                <div class="selected">
                    <span class="status-badge-purple">
                        {{ settings.staff.mode }}
                    </span>
                </div>
                <div class="button">
                    <button id="open-modes" (click)="modes()">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="block">
    <div class="title">
      Dishes
    </div>
    <div class="content">
      <div class="setting strictIngredients">
        <div class="title">
          Strict ingredient's
        </div>
        <div class="value">
          <ion-item>
            <ion-select (ionChange)="select('dishes', 'strictIngredients', $event)" interface="popover" mode="ios"
              [value]="settings.dishes.strictIngredients.toString()" id="allow-distance-orders">
              <ion-select-option value="true">Yes</ion-select-option>
              <ion-select-option value="false">No</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>
  </div> -->
    <!-- <div class="block">
        <div class="title">
            Customers
        </div>
        <div class="content">
            <div class="setting maxDishes">
                <div class="title">
                    Max dishes per order
                </div>
                <div class="value">
                    <input type="number" (input)="input('customers', 'maxDishes', $event)"
                        [value]="settings.customers.maxDishes" id="max-dishes"
                        [disabled]="settings.customers.maxDishes == 'unlimited'" class="number-small-input">
                    <div class="checkbox" id="max-dishes-unlimited-box">
                        <div class="label">
                            Unlimited
                        </div>
                        <input type="checkbox" (change)="check('customers', 'maxDishes', $event)"
                            [checked]="settings.customers.maxDishes == 'unlimited'" name="unlimited"
                            id="max-dishes-unlimited">
                    </div>
                </div>
            </div>
            <div class="setting allowTakeAway">
                <div class="title">Allow distance orders</div>
                <div class="value">
                    <ion-item>
                        <ion-select interface="popover" (ionChange)="select('customers', 'allowTakeAway', $event)"
                            mode="ios" [value]="settings.customers.allowTakeAway.toString()" id="allow-distance-orders">
                            <ion-select-option value="true">Allowed</ion-select-option>
                            <ion-select-option value="false">Not allowed</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </div>
            <div class="setting maxCustomers">
                <div class="title">
                    Max customers
                </div>
                <div class="value">
                    <input type="number" (input)="input('customers', 'maxCustomers', $event)"
                        [value]="settings.customers.maxCustomers"
                        [disabled]="settings.customers.maxCustomers == 'unlimited'" id="max-customers"
                        class="number-small-input">
                    <div class="checkbox" id="max-customers-unlimited-box">
                        <div class="label">
                            Unlimited
                        </div>
                        <input type="checkbox" (change)="check('customers', 'maxCustomers', $event)"
                            [checked]="settings.customers.maxCustomers == 'unlimited'" name="unlimited"
                            id="max-customers-unlimited">
                    </div>
                </div>
            </div>
            <div class="setting maxPrice">
        <div class="title">
          Max order price
        </div>
        <div class="value">
          <input type="number" (input)="input('customers', 'maxPrice', $event)" [value]="settings.customers.maxPrice"
            [disabled]="settings.customers.maxPrice == 'unlimited'" id="max-price" class="number-small-input">
          <div class="checkbox" id="max-price-unlimited-box">
            <div class="label">
              Unlimited
            </div>
            <input type="checkbox" (change)="check('customers', 'maxPrice', $event)"
              [checked]="settings.customers.maxPrice == 'unlimited'" name="unlimited" id="max-price-unlimited">
          </div>
        </div>
      </div>
            <div class="setting minPrice">
                <div class="title">
                    Minimum order price
                </div>
                <div class="value">
                    <input type="number" [value]="settings.customers.minPrice"
                        (input)="input('customers', 'minPrice', $event)" id="min-price" class="number-small-input">
                </div>
            </div>
        </div>
    </div> --->
    <!-- <div class="block">
    <div class="title">
      Work
    </div>
    <div class="content">
      <div class="setting maxOrdersCooking">
        <div class="title">
          Max orders at the same time
        </div>
        <div class="value">
          <input type="number" [disabled]="settings.work.maxOrdersCooking == 'unlimited'" (input)="input('work', 'maxOrderCooking', $event)" [value]="settings.work.maxOrdersCooking" id="max-orders" class="number-small-input">
          <div class="checkbox" id="max-orders-unlimited-box">
            <div class="label">
              Unlimited
            </div>
            <input type="checkbox" (change)="check('work', 'maxOrdersCooking', $event)" name="unlimited"
              id="max-orders-unlimited">
          </div>
        </div>
      </div>
    </div>
  </div> -->
    <div class="red" *ngIf="settings">
        <div class="title">
            <span class="text title-font">
                Danger zone
            </span>
        </div>
        <div class="content">
            <div class="remove">
                <div class="info">
                    <span class="big">
                        Remove restaurant
                    </span>
                    <span class="small">
                        All the dishes, statistics, customers data will be removed forever.
                    </span>
                </div>
                <div class="button">
                    <button (click)="removeRestaurant()" class="red-button">
                        Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!restaurant || !money" class="loading">
        <span class="spinner"></span>
    </div>
</div>


<ng-container #changeNameContainer></ng-container>
<ng-container #changeDescriptionContainer></ng-container>
<ng-container #payoutsModalContainer></ng-container>
<ng-container #modeModalContainer></ng-container>