<div class="header">
  <div class="nav">
    <div class="links">
      <div class="link">
        <button (click)="go('home')" [ngClass]="{'active': page == 'home'}">
          Home
        </button>
      </div>
      <div class="link">
        <button (click)="go('dishes')" [disabled]="ui.disableDishes" [ngClass]="{'active': page == 'dishes'}">
          Dishes
        </button>
      </div>
      <div class="link">
        <button (click)="go('people')" [disabled]="ui.disablePeople" [ngClass]="{'active': page == 'people'}">
          People
        </button>
      </div>
      <div class="link">
        <button (click)="go('cooking')" [disabled]="ui.disableCooking" [ngClass]="{'active': page == 'cooking'}">
          Cooking
        </button>
      </div>
    </div>
    <div class="gap"></div>
    <div class="other">
      <div class="new other-one">
        <div class="dropdown">
          <button class="dropbtn" *ngIf="name">{{ name }}</button>
          <div class="dropdown-content" *ngIf="restaurants">
            <a *ngFor="let i of restaurants" (click)="choose(i._id)">{{ i.name }}</a>
            <a (click)="goOther(2)">Add new <ion-icon name="add-outline"></ion-icon></a>
          </div>
        </div>
      </div>
      <div class="help other-one">
        <a class="dark-link" routerLink="/help">Help?</a>
      </div>
      <div class="user other-one">
        <ion-icon (click)="goOther(1)" id="user-icon" name="person-circle-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>

<ion-content>
  <div class="app">
    <router-outlet></router-outlet>
  </div>
</ion-content>