.nav {
    width: 100%;
    height: 40px;
    padding-left: 250px;
    padding-right: 250px;
    display: grid;
    grid-template-columns: 40% 35% 25%;
    background-color: rgb(231, 231, 231);
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                background: none;
                color: rgb(107, 107, 107);
                width: 100px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                transition: all .2s;
                &:hover {
                    background-color: rgb(182, 182, 182);
                    color: white;
                }
                &:disabled:hover {
                    background-color: var(--red);
                }
            }
            .active {
                background-color: var(--orange);
                color: white;
                &:hover {
                    background-color: var(--orange);
                }
            }
        }
    }
    .other {
        display: grid;
        grid-template-columns: 50% 30% 20%;
        .other-one {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .new {
            
            .dropbtn {
                background-color: #ffc6092a;
                border-radius: 10px;
                width: 150px;
                font-size: 16px;
                height: 30px;
                border: 1px solid var(--orange);
                transition: all 0.3s;
                &:hover {
                    background-color: var(--orange);
                }
            }
              
            .dropdown {
                position: relative;
                display: inline-block;
                &:hover .dropdown-content {display: block;}
            }
              
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                a {
                    color: black;
                    font-size: 16px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    cursor: pointer;
                    ion-icon {
                        font-size: 18px;
                        margin-bottom: 3px;
                    }
                    &:hover {background-color: #ddd;}
                }
            }

        }
        .user {
            font-size: 28px;
            #user-icon {
                cursor: pointer;
                &:hover {
                    color: rgb(255, 145, 0);
                    font-size: 32px;
                    transition: all .3s;
                }
            }
        }
    }
}

.app {
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;
    min-height: 100vh;
}




  


// .app {
//     width: 100%;
//     min-height: 100vh;
//     background-color: var(--background-light);
//     .title {
//         text-align: center;
//     }
//     .restaurants {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         .all {
//             gap: 20px;
//         }
//     }
//     #go-user-info {
//         position: fixed;
//         bottom: 20px;
//         right: 30px;
//     }
//     .dashboard {
//         width: 100%;
//         height: 100%;
//         padding-top: 50px;
//         padding-right: 150px;
//         padding-left: 150px;
//         display: flex;
//         gap: 30px;
//         .staff {
//             width: 210px;
//             height: 310px;
//             .logo {
//                 margin-top: 20px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 .self {
//                     width: 64px;
//                     height: 64px;
//                 }
//             }
//             .all-workers {
//                 margin-top: 10px;
//                 height: 40px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
//             .add {
//                 height: 60px;
//                 margin-top: 15px;
//                 width: 100%;
//                 display: grid;
//                 grid-template-columns: 60% 40%;
//                 border-bottom: rgb(179, 179, 179) 1px solid;
//                 border-top: rgb(179, 179, 179) 1px solid;
//                 .title {
//                     padding-left: 10px;
//                     width: 100%;
//                     height: 100%;
//                     display: flex;
//                     align-items: center;
//                 }
//                 .button {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     .self {
//                         width: 32px;
//                         height: 32px;
//                     }
//                 }
//             }
//             .title {
//                 height: 50px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
//             .help {
//                 height: 40px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
//         }
//         .tables {
//             width: 220px;
//             height: 200px;
//             padding-top: 10px;
//             .all-tables {
//                 height: 40px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 width: 100%;

//             }
//             .real-time {
//                 width: 100%;
//                 border-bottom: var(--border-color) 1px solid;
//                 border-top: var(--border-color) 1px solid;
//                 height: 60px;
//                 display: grid;
//                 grid-template-columns: 70% 30%;
//                 .title {
//                     padding-left: 10px;
//                     display: flex;
//                     align-items: center;
//                 }
//                 .button {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     .self {
//                         width: 40px;
//                         height: 40px;
//                     }
//                 }
//             }
//             .title {
//                 margin-top: 10px;
//                 width: 100%;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
//             .help {
//                 width: 100%;
//                 height: 50px;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//             }
//         }
//         .dishes {
//             width: 230px;
//             height: 300px;
//             .logo {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 height: 100px;
//                 .self {
//                     width: 72px;
//                     height: 72px;
//                 }
//             }
//             .total {
//                 margin-top: 15px;
//                 height: 30px;
//                 text-align: center;
//             }
//             .add {
//                 width: 100%;
//                 border-bottom: rgb(179, 179, 179) 1px solid;
//                 border-top: rgb(179, 179, 179) 1px solid;
//                 height: 55px;
//                 display: grid;
//                 grid-template-columns: 60% 40%;
//                 .child-title {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                 }
//                 .button {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     .self {
//                         width: 32px;
//                         height: 32px;
//                     }
//                 }
//             }
//             .title {
//                 margin-top: 20px;
//                 height: 30px;
//             }
//             .help {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 height: 50px;
//                 width: 100%;
//             }
//         }
//         .write {
//             width: 260px;
//             height: 300px;
//             .logo {
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 height: 100px;
//                 .self {
//                     width: 72px;
//                     height: 72px;
//                 }
//             }
//             .buttons {
//                 .one {
//                     height: 50px;
//                     width: 100%;
//                     border-top: 1px solid var(--border-color);
//                     border-bottom: 1px solid var(--border-color);
//                     display: grid;
//                     grid-template-columns: 60% 40%;
//                     .t {
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         font-size: 18px;
//                         font-weight: 500;
//                     }
//                     .b {
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         .self {
//                             width: 36px;
//                             height: 36px;
//                         }
//                     }
//                 }
//             }
//             .title {
//                 margin-top: 20px;
//                 height: 30px;
//             }
//             .help {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 height: 50px;
//                 width: 100%;
//             }
//         }
//     }
// }


// .container-lr {
//     display: flex;
//     gap: 30px;
// }
// .container-tb {
//     background-color: #949494;
//     border-radius: 20px;
//     border: 2px rgb(71, 71, 71) solid;
//     .ch {
//         border: none;
//         margin: 20px;
//     }

// }

// .ch {
//     &:hover {
//         transform: scale(1.05, 1.05);
//     }
//     background-color: rgb(238, 238, 238);
//     border: 2px rgb(71, 71, 71) solid;
//     border-radius: 20px;
//     transition: transform .6s;
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }
// .small-ch {
//     width: 150px;
//     height: 150px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     .logo {
//         font-size: 64px;
//     }
//     .title {
//         font-size: 14px;
//         color: var(--light-black)
//     }
// }

// @media screen and (max-width: 1000px) {
//     .app {
//         .dashboard {
//             flex-direction: column;
//             align-items: center;
//             padding-right: 10px;
//             padding-left: 10px;
//             padding-bottom: 100px;
//             .ch {
//                 width: 300px;
//                 min-height: 250px;
//             }
//         }
//         #go-user-info {
//             bottom: 15px;
//             right: 15px;
//         }
//     }
//     .container-tb {
//         width: 300px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         .ch {
//             border: none;
//             margin: 20px;
//             width: 250px !important;
//         }
//     }
// }