<div class="app">
    <div class="header" *ngIf="order">
        <div class="back">
            <button (click)="back()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </button>
        </div>
        <div class="order">
            <h1 id="order-type" class="title-font" *ngIf="order.type">
                <span class="away" *ngIf="order.type == 'takeout'">
                    Take out
                </span>
                <span *ngIf="order.type == 'dinein'" class="in">
                    Dine-in
                </span>
            </h1>
            <div class="order-id" *ngIf="order.id">
                #<span class="id">{{order.id}}</span>
            </div>
        </div>
        <div class="status">
            <div [class.status-badge-green]="order.status == 'done'"
                [class.status-badge-red]="order.status == 'removed'"
                [class.status-badge-orange]="order.status == 'done:removed'">
                {{ order.status}}
            </div>
        </div>

    </div>

    <div *ngIf="order" class="order">
        <div class="customer">
            <img [src]="customerAvatar || './../../../../assets/images/plain-avatar.jpg'" alt="">
            <span class="username title-font" (click)="fullCustomer()">
                {{ order.user.username }}
            </span>
            <span class="text button-font behalf">
                (staff)
            </span>
        </div>
        <div class="date-total">
            <div class="date">
                <span class="text text-font">
                    {{ order.ordered }}
                </span>
            </div>
            <div class="money">
                <span class="field text-font">
                    <span class="label">Subtotal:</span>
                    <span class="amount-and-sign">${{ order.money.subtotal / 100 }}</span>
                </span>
                <span class="field text-font">
                    <span class="label">HST:</span>
                    <span class="amount-and-sign">${{ order.money.hst / 100 }}</span>
                </span>
                <span class="field text-font">
                    <span class="label total">Total:</span>
                    <span class="amount-and-sign">${{ order.money.total / 100 }}</span>
                </span>
            </div>
        </div>
    </div>

    <div class="dishes" *ngIf="order && order.mode != 'disabled'">
        <app-dish *ngFor="let i of order.dishes" [dish]="i"></app-dish>
    </div>

    <div *ngIf="order && order.mode == 'disabled'" class="dishes-disabled">
        <span class="text title-font">
            Dishes:
        </span>
        <div *ngFor="let i of order.dishes" class="dish">
            <div class="name">
                <span class="text title-font">
                    {{ i.name }}
                </span>
            </div>
        </div>
    </div>

    <div class="loading" *ngIf="!order">
        <span class="spinner"></span>
    </div>
</div>