<div class="header">
  <div class="close">
    <button (click)="close()">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <div class="title">
    {{ ui.title }}
  </div>
</div>

<ion-content>
  <div class="app">
    <div class="username">
      <div class="input">
        <div class="label">Username</div>
        <input type="text" (input)="inputChange($event)" placeholder="...">
        <button class="clear" (click)="clear()">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
      <div class="result" *ngIf="ui.showResults">
        <div class="user" *ngIf="user">
          <div class="top">
            <div class="avatar">
              <img [src]="user.avatar" alt="">
            </div>
            <div class="info">
              <div class="name">
                {{ user.name }}
              </div>
              <div class="username">
                {{ user.username }}
              </div>
            </div>
            <div class="invite">
              <button class="gradient-button" (click)="invite()">{{ ui.inviteText }}</button>
            </div>
          </div>
          <div class="content">
            <div class="left">
              <div *ngIf="ui.showFeedbacks" class="feedbacks">
                <div class="title">
                  Feedbacks
                </div>
                <div *ngIf="ui.showNoFeedbacks" class="no-feedbacks">
                  No feedbacks yet
                </div>
                <div class="list" *ngIf="!ui.showNoFeedbacks">
                  <div class="element" *ngFor="let i of user.feedbacks">
                    <div class="name">
                      Worked in <p class="restaurant">{{ i.restaurant }}</p> for <p class="time">{{ i.time }}</p>
                    </div>
                    <div class="text">
                      {{ i.text }}
                    </div>
                    <ionic-rating-component class="rating" activeIcon="star" defaultIcon="star-outline"
                        activeColor="#FFC409" defaultColor="#3880FF" readonly="true" [rating]="i.stars" fontSize="12px">
                      </ionic-rating-component>
                  </div>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="avg">
                <div class="body">
                  <div class="title">
                    Average rating
                  </div>
                  <div class="rating">
                    <p>{{ user.avg }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="not-found" *ngIf="ui.showNotFound">
        {{ ui.notFoundText }}
      </div>
    </div>
    <div *ngIf="ui.showOther" class="other">
      <div class="or">
        or (comming soon...)
      </div>
      <div class="find">
        <button class="gradient-button" [disabled]="!ui.canFind">Find workers near you</button>
      </div>
      <div class="leave">
        <button class="gradient-button" [disabled]="!ui.canLeave">Leave application</button>
      </div>
    </div>
  </div>
</ion-content>