<ion-content>
  <div class="app">
    <div class="box">
      <div class="header">
        <h1 id="title">
          Ctraba
        </h1>
        <h2 id="subtitle">Log in</h2>
      </div>
      <div class="body">
        <input [(ngModel)]="username" (keydown.ENTER)="onEnter()" (focusout)="checkUsername()" id="username" [ngClass]="{ 'red': ui.usernameRed }" type="text" placeholder="Username">
        <div class="username-message">
          {{ ui.usernameMessage }}
        </div>
        <input #passwordElement [(ngModel)]="password" (focusout)="checkPassword()" (keydown.ENTER)="login()" id="password" [ngClass]="{ 'red': ui.passwordRed }" type="password" placeholder="Password">
        <div class="password-message">
          {{ ui.passwordMessage }}
        </div>
      </div>
      <div class="buttons">
        <button id="sign-in" (click)="signUp()">
          Don't have an account?
        </button>
        <button [disabled]="ui.disableLogin" [disabled]="ui.disableButtons" id="next" (click)="login()">
          Login
        </button>
      </div>
    </div>
    <div class="footer">
      <div class="language" id="language">
        <p id="language-title">English (Canada)</p>
        <div class="icon">
          <ion-icon name="caret-down-outline"></ion-icon>
        </div>
      </div>
      <div class="links">
        <div class="link">
          <a href="">Main</a>
        </div>
        <div class="link">
          <a href="">Help</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>