<div class="app" *ngIf="dish">
  <div class="top">
    <div class="back" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon> DISHES
    </div>
    <div class="gap"></div>
    <div class="buttons">
      <div class="edit">
        <button id="edit" class="orange-button" (click)="edit()">Edit</button>
      </div>
      <div class="remove">
        <button id="remove" (click)="remove()">Remove</button>
      </div>
    </div>
  </div>
  <div class="details">
    <div class="body">
      <div class="image">
        <img [src]="image" alt="">
      </div>
      <div class="info">
        <div class="name">
          {{ dish.name }}
        </div>
        <div class="price">
          {{ dish.price }}$
        </div>
        <div class="time">
          {{ dish.time }} min.
        </div>
        <div class="description">
          {{ dish.description }}
        </div>
      </div>
    </div>
  </div>
  <div class="cooking">
    <div class="title">
      Cooking 
      <button id="cooking" (click)="cooking()">
        <p *ngIf="dish.cooking">Change</p>
        <p *ngIf="!dish.cooking">Add</p>
      </button>
    </div>
    <div class="recipee" *ngIf="dish.cooking">
      <div class="subtitle">
        Recipee:
      </div>
      <div class="text">
        {{ dish.cooking.recipee }}
      </div>
    </div>
    <div class="components" *ngIf="dish.cooking">
      <div class="subtitle">
        Components:
      </div>
      <div class="list">
        <div *ngFor="let i of dish.cooking.components" class="component">
          <div class="amount">
            {{ i.amount }} grams
          </div>
          <div class="name">
            of <p (click)="component(i._id)" class="self">{{ i.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>