<div class="app" (mousedown)="quit()">
  <div class="body" (mousedown)="$event.stopPropagation()">
    <div class="title" *ngIf="username">
      Why fire {{ username }}?
    </div>
    <a routerLink="complain" class="dark-link">Complain?</a>
    <div class="stars">
      <ionic-rating-component
        activeIcon = "star"
        defaultIcon = "star-outline"
        activeColor = "#FFC409" 
        defaultColor = "#FFC409"
        readonly="false"
        [rating]="stars"
        fontSize = "32px"
        (ratingChanged)="onRatingChange($event)">
      </ionic-rating-component>
    </div>
    <div class="comment">
      <ion-item>
        <ion-label position="floating">Feedback</ion-label>
        <ion-textarea cols="10" rows="10" [(ngModel)]="comment"></ion-textarea>
      </ion-item>
    </div>
    <div class="buttons">
      <button class="orange" (click)="quit()">Cancel</button>
      <button class="red" (click)="fire()">Fire</button>
    </div>
  </div>
</div>