<div class="the-header-with-close-icon">
  <div class="title">
    <div class="close">
      <button [disabled]="ui.disableClose" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
    <div class="text">
      {{ ui.title }}
    </div>
  </div>
  <div class="buttons">

  </div>
</div>

<ion-content>
  <div class="app">
    <div class="dishes">
      <app-dish *ngFor="let i of orderDishes" (click)="open(i)" [dish]="dishes[i.dishId]" [orderDish]="i"></app-dish>
    </div>
  </div>
</ion-content>