<div class="app">
    <div class="box">
        <div class="header">
            <button (click)="leave.emit()" id="close-modal">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="title">
                <span class="text title-font">
                    Manual order
                </span>
            </div>
            <button id="submit" (click)="submit()">
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </div>
        <div class="content">
            <div class="order" *ngIf="settings">
                <div class="select-type">
                    <div *ngIf="settings.allowTakeOut && !settings.allowDineIn" class="type">
                        <span class="text title-font">
                            Take out
                        </span>
                    </div>
                    <div *ngIf="settings.allowDineIn && !settings.allowTakeOut" class="type">
                        <span class="text title-font">
                            Dine-in
                        </span>
                    </div>
                    <div *ngIf="!settings.allowDineIn && !settings.allowTakeOut" class="no-type">
                        <span class="text title-font">
                            No type provided
                        </span>
                    </div>
                    <div *ngIf="settings.allowDineIn && settings.allowTakeOut" class="both-types">
                        <button id="take-await" (click)="setType('takeout')" [class.a]="type == 'takeout'">
                            Take out
                        </button>
                        <button id="dine-in" (click)="setType('dinein')" [class.a]="type == 'dinein'">
                            Dine-in
                        </button>
                    </div>
                </div>
                <div class="comment" *ngIf="mode != 'disabled'">
                    <p class="the-comment" *ngIf="comment">{{comment}}</p>
                    <p *ngIf="!comment" class="no-comment">
                        No comment
                    </p>
                    <button (click)="setComment()" class="orange-button">
                        Set comment
                    </button>
                </div>
                <div class="selected-dishes" *ngIf="selected && selected.length > 0">
                    <div class="title">
                        <span class="text title-font">
                            Selected:
                        </span>
                    </div>
                    <div *ngFor="let i of selected" class="dish" (click)="openDishesDetails(i)">
                        <div class="name">
                            <span class="text title-font">
                                {{ i.name }}
                            </span>
                        </div>
                        <div class="price">
                            ${{ i.price / 100 }}
                        </div>
                        <span class="x">
                            x
                        </span>
                        <div class="amount">
                            {{ i.orderDishes.length }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="dishes" *ngIf="dishes">
                <app-dish *ngFor="let i of dishes" (click)="openDishModal(i._id, i.name, i.price)" [dish]="i"></app-dish>
            </div>
            <div class="loading">
                <span class="spinner" *ngIf="!settings || !dishes"></span>
            </div>
        </div>
    </div>
</div>

<ng-container #dishModalContainer></ng-container>
<ng-container #checkoutModalContainer></ng-container>
<ng-container #commentModalContainer></ng-container>