.app {

    .disabled {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 50vh;
        font-size: 18px;
        color: var(--text-color);
        ion-icon {
            color: var(--text-color);
            font-size: 28px;
        }
    }


    .loading {
        height: 124px;
        display: flex;
        align-items: center;
        justify-content: center;
        .spinner {
            width: 32px;
            height: 32px;
            border-top: 2px solid var(--border-color);
            border-radius: 100%;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }
}