<ion-content>
    <div class="app">
        <div class="content">
            <button (click)="back()" id="close">
                <ion-icon name="close"></ion-icon>
            </button>
            <div class="image">
                <img [src]="image" [class]="imageClass">
                <div class="category">
                    {{ category }}
                </div>
                <div class="time">
                    {{ dish?.info.time }} m.
                </div>
            </div>
            <div class="info">
                <div class="name">
                    {{ dish?.name }}
                </div>
                <div class="price">
                    ${{ dish?.price / 100 }}
                </div>
            </div>
            <div class="buy">
                <div class="button">
                    <ion-item mode="md" [color]="theme" *ngIf="dish?.quantity > 0" class="quantity">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12" class="ion-text-center">
                                    {{ dish.quantity }}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <div class="add">
                        <ion-fab>
                            <ion-fab-button [color]="theme">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                            </ion-fab-button>
                            <ion-fab-list>
                                <ion-fab-button (click)="comment()" color="purple">
                                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                                </ion-fab-button>
                                <ion-fab-button (click)="add()" color="orange">
                                    <ion-icon name="add"></ion-icon>
                                </ion-fab-button>
                            </ion-fab-list>
                        </ion-fab>
                    </div>
                </div>
            </div>
            <div class="description">
                {{ dish?.description }}
            </div>
        </div>
    </div>
</ion-content>



<ng-container #commentModalContainer></ng-container>