.app {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: 20% 20% 20% 30% 10%;
    .created,.cost,.name {
        color: rgb(54, 54, 54);
        display: flex;
        align-items: center;
    }
    .remove {
        display: flex;
        justify-content: center;
        align-items: center;
        .remove-btn {
            width: 32px;
            background: none;
            height: 32px;
            border-radius: 8px;
            border: 1px solid #eb445a;
            color: #eb445a;
            display: flex;
            justify-content: center;
            align-items: center;
            ion-icon {
                font-size: 22px;
            }
            &:hover {
                background-color: #eb445a;
                color: white;
            }
        }
    }
    .use {
        display: flex;
        justify-content: end;
        align-items: center;
        .use-btn {
            width: 80px;
            background: none;
            height: 32px;
            border: 1px solid #2dd36f;
            border-radius: 7px;
            color: #2dd36f;
            &:hover {
                background-color: #2dd36f;
                color: white;
            }
        }
    }
}