@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');



.app {
    min-height: 100vh;
    background-color: white;

    .header {
        padding: 0 412px;
        display: flex;
        align-items: center;
        height: 52px;
        background-color: var(--orange);
        // border-bottom: 2px solid var(--orange-dark);
        justify-content: space-between;

        .title {
            .text {
                color: var(--black);
                font-size: 24px;
            }
        }

        .links {
            display: flex;
            justify-content: space-between;
            
            .link {
                color: var(--text-color);
                text-decoration: none;
                
                &:hover {
                    color: var(--black);
                }
            }
            
            .sign-in {
                background-color: rgba(255, 255, 255, 0.4);
                padding: 6px 10px;
                transition: 0.4s all;
                height: 32px;
                border-radius: 32px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                ion-icon {
                    font-size: 16px;
                    margin-left: 6px;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }

    .content {
        height: 100%;
        color: var(--black);

        .boxes {
            .box {
                .info {
                    .title {
                        width: 100%;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 12px;
                        text-align: center;
                        
                        .text {
                            font-size: 20px;
                        }
                    }
                    .description {
                        padding: 12px;
                        color: var(--gray);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1800px) {
    .app {
        .header {
            padding: 0 268px;
        }
    }
}
@media screen and (max-width: 1500px) {
    .app {
        .header {
            padding: 0 178px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .app {
        .header {
            padding: 0 82px;
        }
    }
}
@media screen and (max-width: 800px) {
    .app {
        .header {
            padding: 0 16px;
        }
    }
}