<div class="app">
    <div class="header">
        <div class="title">
            <span class="text title-font">
                Strava
            </span>
        </div>
        <div class="links">
            <a class="link button-font" routerLink="/login">Login</a>
        </div>
    </div>
    <div class="main">
        <div class="box1">
            <div class="box2">
                <div class="title title-font">
                    Strava
                </div>
                <div class="icon">
                    <img src="./../../../assets/icon/burger.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>