@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');





.app {
    min-height: 100vh;
    background-color: white;

    .header {
        padding: 0 412px;
        display: flex;
        align-items: center;
        height: 52px;
        background-color: var(--orange);
        // border-bottom: 2px solid var(--orange-dark);
        justify-content: space-between;

        .title {
            .text {
                color: var(--black);
                font-size: 24px;
            }
        }

        .links {
            display: flex;
            justify-content: space-between;
            
            .link {
                color: var(--text-color);
                text-decoration: none;
                
                &:hover {
                    color: var(--black);
                }
            }
            
            .sign-in {
                background-color: rgba(255, 255, 255, 0.4);
                padding: 6px 10px;
                transition: 0.4s all;
                height: 32px;
                border-radius: 32px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                ion-icon {
                    font-size: 16px;
                    margin-left: 6px;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    }

    .main {
        height: 100%;
        background-color: white;

        .box {
            display: flex;
            justify-content: center;
            align-items: center;


            .icon {
                img {
                    width: 124px;
                    height: 124px;
                }
            }
        }
    }
}
