<div class="app">
    <div class="header">
        <div class="title">
            <span class="text title-font">
                Strava
            </span>
        </div>
        <div class="links">
            <a class="sign-in link button-font" routerLink="/login">Sign in <ion-icon name="chevron-forward"></ion-icon></a>
        </div>
    </div>
    <div class="content">

        <div class="boxes">
            <div class="box">
                <div class="info">
                    <div class="title">
                        <span class="text title-font">
                            - Let your customers order online
                        </span>
                    </div>
                    <p class="description">
                        One of Strava's functions is ordering online. Your customers can order ahead of time and just pick up the food when it's ready.
                    </p>
                </div>
                <div class="image">

                </div>
            </div>

            <div class="box">
                <div class="info">
                    <div class="title">
                        <span class="text title-font">
                            - Detailed reports and statistics of your restaurant
                        </span>
                    </div>
                    <p class="description">
                        Strava provides reports and statistics about your restaurant, its customers and dishes.
                    </p>
                </div>

            </div>

            <div class="box">
                <div class="info">
                    <div class="title">
                        <span class="text title-font">
                            - More detailed menu
                        </span>
                    </div>
                    <p class="description">
                        Add more information about your dishes: time cooking, allergens, description, rating and more
                    </p>
                </div>
            </div>

            <div class="box">
                <div class="info">
                    <div class="title">
                        <span class="text title-font">
                            - Change your menu in a few clicks
                        </span>
                    </div>
                    <p class="description">
                        All you need to change a menu is couple seconds and a few clicks!
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>